[2021-03-30 16:27] mardi00 commented on #79
Really cool idea! I think Friedger did an amazing job with this community pool and with all his previous contributions to the ecosystem.

[2021-03-30 16:30] mardi00 commented on #68
Hi sorry my bad, I forgot. I will email you now. Thank you.

[2021-03-30 16:59] RaffiSapire commented on #68
@mardi00  is this grant gating on STX Me? If so, we'd prefer to wait til that is complete before funding this grant.

[2021-03-30 18:34] OmurCataltepe commented on #64
### Stacks Turkey March Report

**Upcoming:**

- Kripto Sozluk will publish the Promotional Stacks video in next week.
- 6 brief videos for Stacks will be ready in this week.

**YouTube AMA with Kripto Sozluk (17.5k+ watched):**
https://www.youtube.com/watch?v=tCcv1ZC-RjY

**Second Turkish Townhall Recap:**
https://www.crowdcast.io/e/second-turkish-townhall

**New Educational Turkish Articles:**
h

[2021-03-30 18:44] OmurCataltepe commented on #64
| Head  | Cost |
| ------------- | ------------- |
|Kripto Solzuk (AMA in their community with 37k+ members) | $1.500,00 |
|TFC - Community Partnership with TFC for _promoting Stacks_ | $350,00|
|TFC - Stacks Turkey Chapter Promotions | $350,00|
|Bill.com Exchange Rate Costs (including old costs) | $250,00|
|Combot Premium (yearly) | $75,00|
|Activity Competition | $175,00|
|Meme Competition | $10

[2021-03-30 19:45] TeamBandL opened #80 "Bringing Stacking to the world of shows, music, and beyond"
**Main purpose:** Explore ways to deploy Stacking as a **community development** and **membership mechanism**, starting in the world of virtual events, shows, and festivals.

**Background**: Stacking is a unique opportunity to organize people around shared goals, events, causes and more. In its current form, Stacking is somewhat limited to crypto familiar people and they can really only leverage i

[2021-03-30 19:47] pseudozach commented on #67
@friedger it seems their application was to add stx price pair to their existing site. Not really related to the direction of this grant but of course I'm always open to collaboration.

[2021-03-30 19:48] pseudozach commented on #67
Hi,
Please find first draft of the oracle report (as part of M1) at this link: [State of Oracles in Stacks Report](https://docs.google.com/document/d/1vyGwN3-hlNDTHtRFlqFoGkLHX_t6GxagzbI0DHx_UmI/edit?usp=sharing)
All feedback is welcome.

[2021-03-31 05:51] kriprodede commented on #78
I think everyone know how Louise is passionately working and how he is successful .I think he deserves to get support for that project. That will be good for ecosystem as well❤️❤️

[2021-03-31 09:19] louiseivan commented on #78
Thanks for the warm support everyone!

[2021-03-31 19:14] jennymith commented on #67
This is really helpful, thanks Zafer! Reaching out to you directly about where this can be helpful.

[2021-03-31 23:59] amorriscode commented on #59
⚠️ Update

Things are coming along nicely for STX Me. I'm hoping to complete the initial MVP this week.

Currently, the library works. Things I will be doing over the coming days:

- Getting that test coverage up
- Implementing a CI/CD pipeline
- Deploying the library
- Building a website with some simple documentation
- Posting on Product Hunt!

It's been a pleasure working on this project and I

[2021-04-02 08:51] friedger commented on #61
Would the DID be Sidetree compliant? Is the sidetree protocol the way we want to go?

There is a sidetree implementation on bitcoin, on ethereum, on p2p gossip network:
https://techcommunity.microsoft.com/t5/identity-standards-blog/ion-we-have-liftoff/ba-p/1441555

[2021-04-02 09:52] friedger commented on #74
After discussion with Mirlo and Harini, I understand that this proposal is about NFTs that have associated art work and therefore need a license associated to it as well.

We want this! This proposal will bring awareness of IP and licenses to NFT creators and holders.

[2021-04-02 15:50] pseudozach commented on #67
Hi,
Please find the link to [stxoracle library](https://github.com/pseudozach/stxoracle) that allows anyone to deploy and update a price feed oracle on Stacks.
This deliverable concludes the M1 of the proposal. There are now [two sample price feed oracle contracts](https://github.com/pseudozach/stxoracle/wiki/stxoracle-list) running on Stacks testnet.
The library can also be used as a template and

[2021-04-02 23:08] amorriscode commented on #59
Today is a good day!

I'm happy to say I've finished up the first version of stx.me!

https://www.getstx.me/

Just going to work on finishing up the automated deployment pipeline but my first transaction has gone through in prod. I also plan to post on Product Hunt later this week.

Thanks, @RaffiSapire for helping me obtain a grant. It's been really fun working on this. I'm loving the Stacks deve

[2021-04-03 15:01] tycho1212 commented on #80
Cool stuff!

It seems like a large part of the success of this project beyond this grand proposal will be figuring out which one of the 3 stacking applications will get the most traction in the community and beyond (membership to our slate of shows, stacking kickstarter, festival ticket sales). I'm sure that focussing on one of these applications will help you a great deal in product development.

[2021-04-03 15:37] tycho1212 commented on #78
Huge fan of this! 😍

One thing that might help you guys internally is to structure your roadmap like an overview of dependencies rather than / in addition to a timeline (i.e. we will first do a, then b, then c). I've always found during product development that a list of dependencies immediately shows where the leverage is & helps to execute accordingly.

This is quite a nice piece on Roadmap vs T

[2021-04-04 18:22] RaffiSapire commented on #79
Hi @louiseivan @mardi00 we would like to be supportive to Friedger but want this to come from him. @friedger Could you please refine and resubmit as yourself?  We’re here to help you get to the next stage, what does that look like and what would that take from a support perspective?

[2021-04-04 18:23] RaffiSapire commented on #78
Hi there, thank you for the application. This is approved and we're excited to support you however we can. I'll email you an updated docusign to sign.

[2021-04-04 18:28] RaffiSapire commented on #77
Hi @narcisG, this is a pass for us, reason being, we don't see how this is significantly different than coinmarket cap that would warrant an additional grant. https://coinmarketcap.com/converter/

Happy to work with you via office hours to help find another idea to apply with.

[2021-04-04 18:28] #77 closed

[2021-04-04 18:31] RaffiSapire commented on #71
Hi @Pravica-Inc, we discussed at length and unfortunately this is a pass for us. Reason being, we see the contribution here around a react native library, but that already exists. We’re not seeing additional value here beyond that given the work others in the ecosystem are pushing forward.

[2021-04-04 18:31] #71 closed

[2021-04-04 18:33] RaffiSapire commented on #74
Hi @SmartMirlo , please reach out to @marvin on Discord and find time to chat with him, he'd like to help you scope this further.

[2021-04-04 18:36] RaffiSapire commented on #80
Hi there, some feedback we'd like your input on to update the grant:

If M1 is funded, what will this lead to? What will you be tracking? e.g. How many people participated, do they each stack same amount or different amount? How long do they stack? Demographics, who are the people are that are running through it.

We like the research-driven approach. Would simplify a critical step for broader par

[2021-04-04 18:41] RaffiSapire commented on #68
@mardi00 please let us know.

[2021-04-04 18:50] RaffiSapire commented on #21
Hi @fintechrecruiters , what is the status of this grant currently?

[2021-04-04 18:51] RaffiSapire commented on #27
Hi @joberding , wanted to check in on the status of this grant!

[2021-04-04 18:51] RaffiSapire commented on #32
@friedger Hi there, wanted to check in on the status of this grant. Will you be completing it or moving on to focus on the pool?

[2021-04-04 18:52] RaffiSapire commented on #30
Hi @whoabuddy wanted to check in on the status of this grant?

[2021-04-04 18:54] RaffiSapire commented on #33
Hi @paradigma-cl please share this in discord! Wanted to check to see is this grant complete with that deliverable? or are there next steps?

[2021-04-04 18:57] RaffiSapire commented on #39
Hi @aj07 , thanks! Was expecting the wireframe to be done hi-fi mockup in figma or another platform for the amount that we've granted here.

[2021-04-04 18:59] RaffiSapire commented on #59
That's awesome, @amorriscode could you share this back in Discord in the grants channel? Would love to make sure folks know this is available!

[2021-04-04 19:13] amorriscode commented on #59
Thanks @RaffiSapire! I shared it there already. 💯

[2021-04-04 19:45] SmartMirlo commented on #74
Thank you for the reminder, Raffi. We have a meeting scheduled for tomorrow , also with Harini. We hope to be able to improve our application after talking with him.

[2021-04-04 20:42] paradigma-cl commented on #33
It has been a very active and busy take off!  Here is the publication in Discord.  https://discord.com/channels/621759717756370964/745215530868277319/817076230163660850

[2021-04-05 15:58] whoabuddy commented on #30
Hi @RaffiSapire, thanks for checking in!

## M3 is complete :tada:

- https://github.com/stacksgov/pm/pull/137
- https://github.com/stacksgov/resources/pull/53
- https://github.com/stacksgov/pm/issues/136

I closed out a lot of older issues and implemented the stale bot. Everything is down to one page on the stacksgov/pm issues now!

## M4 is in progress :microscope:

After circulating the origina

[2021-04-05 17:45] SmartMirlo commented on #74
After our meeting with Marvin we rephrased our proposal of Milestones. We are also very happy and grateful to have Friedger in our team as a Technical advisor to research  and find the best option to attach licenses to NFTs.

[2021-04-05 18:10] hozzjss commented on #69
I'm glad to say that the initial version of the first milestone is ready, I'm not sure that it has all the required stuff, but I think that's enough for us to go to milestone 2, [Contract code](https://github.com/hozzjss/cooperative-stacking/blob/master/contracts/decent-delegate.clar), I hope you take a look at it and let me know what you think and the missing parts that I should fill, thanks for

[2021-04-05 18:57] fintechrecruiters commented on #21
First 3 milestones that encompass UI/UX design and frontend (CSS, HTML, JavaScript)coding are complete. 90% of backend tasks are complete and we still need to test and connect API calls to display data and stacks blockchain metrics.

All of the code is in the repo and has been open sourced and shared. Some of the elements in the dashboard which is a part of the stackedsats have been forked already

[2021-04-06 21:44] friedger commented on #32
Update: Speed Spend has its first SIP 9 NFT on sale:

![Screenshot from 2021-04-06 23-40-35](https://user-images.githubusercontent.com/1449049/113782081-e9678780-9731-11eb-9d0b-b9bd0a0d89de.png)

This concludes the technical part.

The last remain part are the online sessions. I'll update here with proposed sessions that could be evergreens as discussed in the office hours.

[2021-04-06 22:38] hozzjss commented on #69
In this milestone these problems are solved:
1. liquid stacked stx (DDX token) inspired by @jcnelson's stx-futures contract, that is used as a proof of hodl for the percentage of rewards a delegator is eligible to, and as a utility for these hodlers to distribute their rewards between peers so that those peers can redeem part of that reward, and as a way for exchanges to trade actual stx futures i

[2021-04-07 18:06] pxydn commented on #65
hey! just to update people on this, daoOS is now a labs³ project which will be worked on by @labs3/daoos [here](https://github.com/labs3/daoos). @falkonprods and I had a very brief discussion the other day which ended with [this](https://twitter.com/drewfalkman/status/1379470554709721095?s=20). reasons for merging:

- daoOS needs developers and so does labs³. merging together will be easier for jo

[2021-04-07 18:17] mardi00 commented on #68
Hi, yes sorry for the response delay, I will just close it for now, and I will reopen it at appropriate time.

[2021-04-07 18:18] #68 closed

[2021-04-08 04:53] TeamBandL commented on #80
Thanks Raffi, the outcomes for M1 would be the following, slightly expanded on from above:

- Web page to allow our community to join one the campaign we decide to execute on first, we are now leaning closer to the membership experiment as a starting place. Something like https://www.blueapron.com/users/sign_up - but obviously that takes care of the appropriate level of education on Stacking throu

[2021-04-09 14:01] planet369 opened #82 "ardkon.com, the first democratized and decentralized live crowdfunding platform..."
ardkon.com, the first democratized and decentralized live crowdfunding platform...
PPR performance & productivity ratio
www.ardkon.com
ard@ardkon.com

A blockchain application that gives proof for public money use through giving stamps for the performance & productivity of an individual or entity.
Abstract:
To realize an “asset based sovereignty”, micro & macro public investments should have a rep

[2021-04-11 08:26] 617a7a opened #83 "Sypool (by @syvita) — the first STX mining pool"
![repo header gradient](https://x.syvita.org/repoheaders/sypool.png "repo header gradient")
## Background

in order to mine STX tokens profitably, it was estimated that a miner needed around 1BTC initial capital to pull a profit (from Daemon Technologies' blog). since then, miner rewards have decreased from 2466STX to 1000STX, changing this some. however, mining is still very difficult for people

[2021-04-11 10:24] mardi00 commented on #78
Awesome guys! I can't wait to have mine

[2021-04-11 16:15] karlzw commented on #83
great project, can't wait for it.

[2021-04-11 16:18] AndrewThebe commented on #83
Great in did lets make it happen

[2021-04-11 17:15] JMKJR commented on #83
Good luck! 👍

[2021-04-11 18:08] falkonprods commented on #83
Yes. I want in!

[2021-04-11 18:26] 314159265359879 commented on #83
Thank you for taking on the task of building the first mining pool @pxydn, together with Labs3 members. I think this will be very good for a healthy growth of the Stacks network because it makes mining more accessible.

[2021-04-11 19:38] thambisrinath commented on #83
this is a great initiative and I would certainly back it. However, any estimate on the downside risk? Say you get capital of over 500k, what's the max risk interms of capital erosion and in which scenario could that risk trigger? and what would be the avg. estimated gains?

[2021-04-11 19:57] pxydn commented on #83
as the capital is relatively large, losses of blocks don't make nearly as much as a difference. Daemon estimated that we would need maybe $20-$25,000 to turn a profit on the new 1000STX per block reward.

effectively, the more cash you have, the more likely you are to make a profit - merely as your losses don't hurt as much (this is the advantage of a pool). assuming capital of $543K that is all s

[2021-04-12 06:22] friedger commented on #83
The proposal should also include some work to stress tests the contract (to verify that it is ready for production) and the miner node (to verify that it plays nicely with a mining pool).

[2021-04-12 07:08] friedger commented on #52
The pool registry contract has been updated according to feedback at

It has been deployed to testnet and can be tested via [Speed Spend](https://speed-spend.org/pools).

As an extra, the contract registers a new BNS name if required: See this pool registration as an example:
https://explorer.stacks.co/txid/0x550f7e9094f185f5dec7155c33ff2dd79411ffcc086720b7f572b9b68e3541b4?chain=testnet

It has be

[2021-04-12 07:26] pxydn commented on #83
we plan todo this, yes! ideally i'll try to break it on my mocknet then the L³ team will heavily test it on testnet before it even reaches production. ideally i would like the code checked over by others.

the miner node will see no different use from how others are using it, except the wallet it mines from will be filling up. i don't think this should affect this, but we'll test this in the testn

[2021-04-12 08:41] cryptopanter commented on #83
Totally precious project and necessary for the next milestone of Stacks ecosystem, Since Stacking and mining are both some kind of infrastructure for the netwok...but i have a trivial quetsion: what will happen to Node A if that Mac system is lost or damaged?

[2021-04-12 09:15] cryptopanter commented on #83
It's a kind of delegation or what?.. I mean the users Btc amount need to leave their address and be sent to you? Or they keep it in their wallet?

[2021-04-12 09:17] pxydn commented on #83
yes. bitcoin has to be sent from the user to the mining pool's BTC wallet, where it will be used to mine the STX tokens

[2021-04-12 09:48] friedger commented on #83
Users have to trust the pool admin that they use the BTC efficiently with mining. Questions about mining strategies are probably out of scope for this proposal.

[2021-04-12 11:02] thambisrinath commented on #83
great...this is perfect

[2021-04-12 12:33] pxydn commented on #83
comment from @314159265359879 in the labs³ channel:

Based on the first 5000 blocks it is easy to overestimate the returns from mining. I think the data from the last 1000 blocks may paint a more realistic picture.

I see returns between 18-7% from the top 5 miners. As you can see there are also miners with net losses, most of these miners have spent a lot less so I think it is because they didn't

[2021-04-12 15:25] philipdesmedt commented on #72
Leaving an update here on progress as well. For more frequent updates, visit the #arkadiko channel on Discord. I deployed v0.1.7 to testnet today and minted the first xUSD (https://explorer.stacks.co/txid/0xce16e01a0b6b3017ce948a10939bb8f08717da5529aadd602da7cac06a884d2d?chain=testnet).

![image](https://user-images.githubusercontent.com/577420/114419295-98351900-9bb3-11eb-88cb-5a0fdd923b70.png)

[2021-04-12 20:31] friedger opened #84 "Pool Registry - Part 2"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

Delegated Stacking is a way to participate in the PoX consensus algorithm with same amounts. Users need to be informed about existing pools and have ways to join the pools.

**Project Overview**
What solution are you providing? Who will it serve?

In the previous grant #52 , a smart contract

[2021-04-12 21:23] RaffiSapire commented on #79
I'm closing this as he has submitted his own.

[2021-04-12 21:23] #79 closed

[2021-04-13 09:53] joberding opened #85 "Continuous Stacking"
This proposal intends to enable continuous stacking without requiring a consensus-breaking update to the Stacking contract. Stackers will be able to stack during the “cool-down” period thus avoid missing reward cycles.

**Background**

A major problem in the current implementation of stacking is that stackers lose rewards during a “cooling period” cycle in-between stacking commitments ([SIPS issue

[2021-04-13 11:49] 314159265359879 commented on #85
I think it is admirable you put this together. I am not sure if the problem you are trying to solve is worth a 5000$ grant if it is only useful until September 2021 when the stacks 2.1 upgrade addresses the problem: enabling continuous stacking. I am confident it will be addressed at that time because of the issue #6 mentioned (https://github.com/stacksgov/sips/issues/6) and the acknowledgement he

[2021-04-13 18:12] RaffiSapire commented on #80
Hi there, would definitely like for you to shareback what the numbers are. Totally fine to not have specific objectives or goals for them, but we'd be curious to know:
How many people participated, do they each stack same amount or different amount? How long do they stack?
Do you have the resources to measure those things? Let us know if you'd need help, we can sort out a resource if you have ques

[2021-04-13 18:23] TeamBandL commented on #80
Yep, they would need to choose things in order to participate, so we would have all that data. Obviously we won't provide personal membership information, but as far as aggregate numbers on how people interact with Stacking as membership would all be made available.

[2021-04-13 20:40] cuevasm commented on #85
Great work Juliet!

+1 to @314159265359879's comments around how this meshes with 2.1 - maybe @jcnelson could share his insight here since he's been very closely tracking the continuous Stacking related improvements. I'd hate for anyone to go through a build like this and have it nearly immediately rendered obsolete by the planned upgrade. In this case, I just don't have a good enough handle on th

[2021-04-13 21:33] RaffiSapire commented on #84
Hi @friedger, this grant is approved. Please email me at raffi@stacks.org and we'll get you a new contract.

[2021-04-13 21:36] RaffiSapire commented on #82
Hi there, we discussed the grant today and unfortunately this is a pass. The milestones are confusing/unclear, and we couldn't understand what success for this project looks like. It also doesn't mention anything about stacks specifically. We couldn't convince ourselves that this will benefit the community. Marvin offered to speak to you more and help scope the grant if you'd like, you can reach h

[2021-04-13 21:36] #82 closed

[2021-04-13 22:55] joberding commented on #85
Thanks @cuevasm & @314159265359879.

We don't mind creating a stopgap solution to the problem of stackers not getting a reward during the cool-down period, even if it is superseded by support for continuous stacking in the planned upgrade in the fall. Stackers are unhappy about missing out on payments, resulting in grievances that may cause substantial costs to the ecosystem. It would be highly be

[2021-04-13 23:05] cuevasm commented on #85
Cool! What are the costs you're referring to? Primarily brand damage or
have you seen hard costs?

On Tue, Apr 13, 2021, 4:55 PM JMOberding ***@***.***> wrote:

[2021-04-14 07:03] joberding commented on #85
@cuevasm  I have been diving into community challenges for a while - attending town halls, meeting with community leaders and reviewing social posts. In my social review, I have noted repeated mentions about the cooling off period but there have also been discussions about empty slot problems and people who lock in for a sustained period without sufficient funding resulting in no rewards, among ot

[2021-04-14 13:17] Joachim16 commented on #61
yes, both stacks and sidetree implementations follow W3C and DIF standard specs and support interoperability

[2021-04-14 16:48] cuevasm commented on #85
I realize it's a pain point, I do work on this everyday ;). I was just asking for more clarity on what you mean when you say costs vs. assuming I know what you meant.

[2021-04-15 21:37] JODIN1727 commented on #75
- [ ] Please review and reopening

[2021-04-16 05:44] jedabomb opened #86 "A NFT Digital Gamecock Game Built on Stacks"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

NFT's through games are becoming increasingly popular, but the common ERC-721 token is clogged up and expensive due to gas fees. A better and more efficient gaming and digital asset owned blockchain is needed.

**Project Overview**
What solution are you providing? Who will it serve?

Through

[2021-04-16 19:04] RolandDecker commented on #78
This is awesome. I wish you guys all the very best...

[2021-04-18 11:06] radicleart opened #87 "Risidio Exchange Grant Application"
**Background**
For period: 29th March to the 17th May

Ask: $19,844 USD (50% of total cost - see below)

**Preamble**

Risidio Exchange is a decentralised marketplace for NFTs and Digital Collectibles on the Stacks Blockchain. The first phase was completed in December 2020, creating a baseline of UI and Clarity functionality within a beautiful UI design.

Our first grant, delivered in December 202

[2021-04-19 21:29] aulneau opened #88 "stacking.club"
**Background**

Greetings everyone!

I run [stacking.club](https://stacking.club), it’s a project I have had a lot of fun building, and am really excited for its potential. For those who don’t know, stacking.club is home to the most up-to-date and detailed data around Stacking, including data for individual stackers and pools. Since the launch on Feb 19, 2021 the site has received at least ~28k un

[2021-04-19 22:18] cuevasm commented on #88
I'm so excited about the future of stacking.club. It's already my favorite website so its exciting to peek ahead at what's next 🚀

[2021-04-20 06:05] RaffiSapire commented on #84
Hi there, I don't believe I've received an email yet!

[2021-04-20 06:10] RaffiSapire commented on #83
Hi @pxydn , Why not just run a VM? We can give you a AWS VM if you needs one. The grant total works for us and we're excited to see this built, but would prefer to orient it about deliverables.
M1. Smart Contract - Jude has feedback (below)
M2. UI . Can you flush out what this enables users to do?
M3: Should include stress tests as Friedger recommends.

- Number of addresses claimed.
- People can

[2021-04-20 06:11] RaffiSapire commented on #80
This is approved, please email raffi@stacks.org to get set up with a contract.

[2021-04-20 06:12] RaffiSapire commented on #74
Hi there, thanks. We're excited to see this built! Please email raffi@stacks.org and I'll get you set up with a contract.

[2021-04-20 06:15] RaffiSapire commented on #72
Hi there! We're excited to approve m2+M3 here, and won't be funding M1 as it's work that's been done in the past. I believe you and Jenny discussed this over a call a week or so back. We're connected on email now so will get you set up.

[2021-04-20 06:18] RaffiSapire commented on #69
Hi there, we reviewed this and wanted to suggest an alternative to the foundation team doing the audit. Reason being it puts us in the middle of a decentralized, independent initiative. We'd be happy to put capital towards an independent audit if need be. What we suggest, is that if you feel that the code is ready, start M3. If you're getting pushback or feedback to do an audit, we're happy to hel

[2021-04-20 06:26] hozzjss commented on #69
Thanks Raffi I’m not stopping at this moment and I’m even thinking of going for a different implementation, but I’ll keep going with our current milestones and let you know, also could you check your email regarding the payment I’m sent my details and haven’t heard back from you

[2021-04-20 06:47] pseudozach commented on #67
Hi,
I'm happy to share that stxpredict - a clarity smart contract and a web UI exposing the functionality is released as M2 of this grant.
Please find the source code here: https://github.com/pseudozach/stxpredict
stxpredict web app is here: https://stxpredict.vercel.app
contract is deployed on testnet: https://explorer.stacks.co/txid/ST15RGYVK9ACFQWMFFA2TVASDVZH38B4VAV4WF6BJ.stxpredict_v1?chain=t

[2021-04-20 09:43] friedger commented on #88
I support this proposal and I can also see that the [stacking pool registry](https://stacks-pool-registry.pages.dev) will become a part of stacking.club.

[2021-04-20 11:27] friedger commented on #84
@RaffiSapire I sent an email 6 days ago.

**Update**
The source code has been updated and deployed to https://stacks-pool-registry.pages.dev/
The web site..
* let pool admins edit their pool data in the profile page with verification before submission.
* let pool users search and filter pools and see whether the pool's website is built by the pool admin managing the pool data. The website needs to

[2021-04-20 12:37] MichaelforMichigan commented on #78
Looking forward to learning more about this. I’m interested in supporting you too.

[2021-04-20 13:38] philipdesmedt commented on #72
@RaffiSapire 👍 sounds good

[2021-04-20 16:54] pxydn commented on #83
thanks for the reply @RaffiSapire :))

for the miner node, it requires the unencrypted mnemonic containing all the funds. having those keys touch anything outside my full control is a security risk.

that's great! sure thing.

the UI will enable users to use the pool in a way that's easy for the everyday Joe. asking for a transaction ID and putting a few clicks is a lot easier than sending raw tra

[2021-04-20 18:13] RaffiSapire commented on #86
Hi there, we'll discuss at committee, but initially will want to see this scoped out into 3-4 milestones with clear, user story deliverables that we will be able to go in and see whether they are complete or not.

[2021-04-20 18:17] RaffiSapire commented on #88
Hi there @aulneau this should be broken down into clear milestones, based on features and techincal milestones. Our team will review each milestone to determine whether it is "complete" so subjectivity here is not an issue. Please take a go at that.

[2021-04-20 18:40] aulneau commented on #88
Sure. I've updated the original post to reflect the milestone based system that you require. The work will not happen in this kind of linear manner, however.

[2021-04-20 19:01] jedabomb commented on #86
Beautiful.. I am working on that with the development team. We did get the site back on a development url, but it’s not connected to metamask anymore. http://3.138.38.80:7700/

[2021-04-20 20:51] tycho1212 commented on #88
Really cool stuff! The design is 🔥

Minor contribution for the future grant:
- For the languages I'd suggest dropping Dutch, I live in the Netherlands and it has a [higher English speaking rate than Canada](https://www.reddit.com/r/todayilearned/comments/59tubr/til_a_greater_percentage_of_dutch_people_speak/). German is also not super necessary as the English speaking rate [is also high](https://w

[2021-04-20 20:53] aulneau commented on #88
Thank you!!

Yeah, I was thinking that too :) was mostly just throwing out the most visited countries. I think a better revised list to start will be
- Korean
- Turkish
- Chinese

[2021-04-20 22:00] 0xngmi commented on #88
I work on DefiLlama and I must say that @aulneau has been very responsive during the listing process, I'd support this grant.

[2021-04-21 01:37] AlfredPizzurro opened #89 "Streaming Video and Distribution App"

[2021-04-21 01:58] AlfredPizzurro commented on #89
Editing and Updating

[2021-04-21 15:32] AlfredPizzurro opened #90 "A User-Owned Decentralized Audio / Video Streaming Distribution App Built on Bitcoin"
Name: IBN, LLC CA Corporation
About: Bringing the network effect to STX and transactions fees to Clarity smart contracts
Title: A Streaming Video and Distribution App on Roku

**Background:**
Upon completion of all three phases of DiviUp buildout the DiviUp ecosystem will be an interactive blockchain platform, App and DApp, for digital content creators to collaborate, create, store, track, share a

[2021-04-22 12:46] jedabomb commented on #86
My developer is worried by switching it to Blockstack’s smart contracts he may get stuck developing the game. I have been trying to get developers to learn clarity for some time and am struggling as it’s not well known and not a great investment of their time... yet. :)  My developer; Gary, from
Texas is very good and I have worked with him for like 3 years on a various projects just wants to make

[2021-04-22 12:49] jedabomb commented on #86
I developed the game concept/white paper
Back in 2018 and would love to see it come forth, but need some support and funding. If
You guys can help with that, Gary is willing to jump in head first  in the game if you believe it can be done.

[2021-04-23 05:39] pseudozach commented on #67
v2 for the contract is deployed on testnet with minor fixes: https://explorer.stacks.co/txid/ST15RGYVK9ACFQWMFFA2TVASDVZH38B4VAV4WF6BJ.stxpredict_v2?chain=testnet
[web app](https://stxpredict.vercel.app) is also improved, aligned with v2 and announced to the community on discord. Looking forward to feedback and guidance from the community on deciding next steps for this project.
These deliverables

[2021-04-23 22:21] jedabomb commented on #86
This is timeline I was using before when we were trying to get funding with kickstarter, but they didn't like Blockchain stuff at that time and we never got any funding. I am very excited about being able to build NFT based game on the back of bitcoin this time with stacks. I truly think it is the future of the internet.
**Milestone 1**
- understand stacks approach to NFT's and get spun up on the

[2021-04-24 07:48] 314159265359879 commented on #86
You may want to be a bit more specific with Milestone 3
Create a live website with full game features will not suffice and will get you in trouble.
i.e.
- user logs in with web wallet id on gamesite
- user is shown: breeding, start fight, browse hens (marketplace? or is this milestone 4?)
- user can start breeding/buy hens
- user can start gamecock fights (automatic pairing?)
- user can browse gam

[2021-04-26 01:32] #85 closed

[2021-04-27 10:30] OmurCataltepe commented on #64
## Social Media Campaign for Listing STX on BTCTurk
We started a social media campaign to make Stacks listed on BTCTurk, the biggest cryptocurrency exchange in Turkey.

**How much interaction did you get on Twitter and how much of an influential impact?**

Too many tweets were sent for Stacks to be listed on BTCTurk. The limit for analysis sites is 500, but I think we have more than 500 tweets for

[2021-04-27 10:31] OmurCataltepe commented on #64
## Social Media Campaign for Listing STX on BTCTurk
We started a social media campaign to make Stacks listed on BTCTurk, the biggest cryptocurrency exchange in Turkey.

**How much interaction did you get on Twitter and how much of an influential impact?**

Too many tweets were sent for Stacks to be listed on BTCTurk. The limit for analysis sites is 500, but I think we have more than 500 tweets for

[2021-04-27 12:58] friedger opened #91 "On-chain accounting for Community Stacking Pools"
**Background**
Users of stacking pools have to trust the pool admin to manage their rewards correctly. Transparency can help to increase the trust. Therefore, income and expenses should be collected on-chain. This will create transparency as well as help to automate stacking pool operation in the future. Friedger Pool and other community stacking pools should benefit from it.

**Project Overview**

[2021-04-27 13:07] jedabomb commented on #86
Yeah.. milestone three is pulling all the tech together and having it go live.
- login with stacks ID
- About home page and about Cryptocock page
- marketplace for buying, selling, and breeding of gamecocks and game hens
- fight page - automated pairing of users that wish to fight their gamecock
-  user’s admin that showcases users flock

[2021-04-27 13:19] jedabomb commented on #86
I joined the lab3 discord channel and updated milestone three above and added some timelines for each milestone

[2021-04-27 17:42] RaffiSapire commented on #88
Hi @aulneau , this is approved. If you want to keep as is, we're happy to approve for $11k, $5k for M1, $1k for M2, and $5k for M3. To get this to a $15k grant, we'd love to beef up M2. Here's our suggestion:

M2: admin panel for pool operators. give a way to help pool operators coordinate or list thier users is more CRM like work that is useful. Becomes an onramp for starting a pool.

Let us know

[2021-04-27 17:44] RaffiSapire commented on #87
Hi there, this is approved, we're excited to see this through!

[2021-04-27 17:59] TonyRossignol commented on #89
I work with Al, please close this issue. We are in Issue 90

[2021-04-27 18:01] RaffiSapire commented on #86
Hi there, we discussed and this is a pass for us for now. We haven't previously funded games, but we are open to it. What we'd want to see though, is an MVP prototype where you already have users and some evidence of stickiness: Daily active users, monthly active users, patterns of usage. If you come back with that being built, and metrics to share, we'd be open to continuing a conversation.

[2021-04-27 18:01] #86 closed

[2021-04-27 18:02] RaffiSapire commented on #85
Hi @joberding looks like you decided to close this on your own? Our feedback, FWIW:
Would be interesting to focus on financial derivatives or financial futures

Jude already started on this: https://github.com/jcnelson/stx-future

rather than this being a stop-gap solution that promotes continuous stacking which will be solved for in September, we suggest you aim for STX futures, which could be fl

[2021-04-27 18:19] RaffiSapire commented on #74
Hi there, I don't see an email from you in my inbox, please send/resend? thanks!

[2021-04-27 18:22] aulneau commented on #88
Yay! That sounds good to me, it's something I had planned for, I updated the original M2 to reflect this functionality :)

[2021-04-27 21:11] RaffiSapire commented on #83
Hi, this is approved for $2,500 to be disbursed as milestones:

M1. Smart Contract  - 500
M2. UI mockup, please include text that make it clear this is an independent effort, e.g. not stacks branded - 300
M3: frontend built - 700
M4: #3, #4, #5 you laid out at the initial scope, PLUS stress testing and results of those - 1000

please email me at raffi@stacks.org to get onto bill.com

[2021-04-28 00:30] PureF commented on #45
Is this funded? Is Swapr building it?

[2021-04-28 13:21] SmartMirlo commented on #74
Hi Raffi.
Did you received my email?
Anyway, I just wondered to thank you for the opportunity to bring these copyrights licenses for NFTs to the Stacks ecosystem.
As explained in the application, thank to the grants we are progressing towards becoming a full-blown startup, therefore I am starting to use my new email: ***@***.***
I hope this works... (I wonder if there is something wrong with the a

[2021-04-28 14:17] friedger commented on #91
Actually, submission and verification of stx transactions are not needed, because all relevant tx happens as part of the contract.

[2021-04-29 20:59] joberding commented on #85
@RaffiSapire

Thanks for the feedback! We are very interested in STX futures. @njordhov and I will discuss and submit a new proposal.

[2021-05-01 05:03] friedger commented on #61
@Joachim16 Is there an update here? Did any community session happen already?

[2021-05-02 13:53] pxydn commented on #83
PS: I have updated the naming/links to comply with the labs³ -> Syvita rebrand :D

[2021-05-03 02:20] mardi00 commented on #71
I don't get this, even if this have been already been built, won't this make the ecosystem more decentralized?

I think having multiple implementations of the same thing by different team can be beneficial to the ecosystem. In my opinion it's not because we have already have one lib or one implementation that we shouldn't have a new one or a different one.

[2021-05-04 03:20] RaffiSapire commented on #67
Hi @pseudozach the committee reviewed your work and don't feel you've completed the milestone yet.

Marvin: M2 deliverable according to OP: “Integrate external triggers like API calls and/or oracle solutions to enable market creators to plug-in existing capabilities for resolving market.” His predictionmarket_v2.clar is pretty much the same as v1, there is literally only one change. Whilst it is t

[2021-05-04 03:21] RaffiSapire commented on #91
@friedger this is great, but we want to see you complete the existing grants before being approved for any additional grants.

[2021-05-04 03:22] RaffiSapire commented on #90
Hi @AlfredPizzurro we discussed and unfortunately this is a pass for us. We'd suggest:
- Spend time with the community gleaning demand
- Figure out role of Clarity and token (are they really needed)
- Work on scoping project - better, more digestable milestones
Happy to review another proposal in the future.

[2021-05-04 03:22] #90 closed

[2021-05-04 03:30] RaffiSapire commented on #88
Please email raffi@stacks.org and i'll get you set up.

[2021-05-04 15:30] #89 closed

[2021-05-05 09:49] friedger commented on #84
I tried my best, pinging admins individually and on twitter. However, until now only Friedger Pool is registered. Spending more effort will go beyond this proposal.

I'll keep promoting it but eventually, only integration in stacking club or the release of Stacking Wallet for Web will encourage pool admins to join the registry protocol.

In a way, the project was not successful because it was too

[2021-05-05 10:19] OmurCataltepe commented on #64
As Stacks Turkey chapter, we have completed the listing, one of our most important yearly goals.
We are still in touch as a community with the other Turkish exchanges to getting listed Stacks native token STX.

![image](https://user-images.githubusercontent.com/33328414/117126788-ef3da080-ada3-11eb-86c7-7ce7330f24c4.png)

Bitexen, a local Turkish Exchange just listed STX with 5 new market pairs.

[2021-05-05 18:46] Joachim16 commented on #61
hi @friedger, @jennymith & @jcnelson set up the community for this friday... would be great to meet you there https://community.stacks.org/events#event=41703939

[2021-05-07 05:25] pseudozach commented on #67
Thanks for the great feedback and especially Marvin for guidance.

[stxpredict contract v4](https://explorer.stacks.co/txid/ST15RGYVK9ACFQWMFFA2TVASDVZH38B4VAV4WF6BJ.stxpredict_v4?chain=testnet) is deployed on testnet, [web app](https://stxpredict.vercel.app/) is updated as well:
* This update enables markets that can be resolved automatically by oracles.
* When user creates a market and sets it t

[2021-05-08 05:37] friedger commented on #84
Feedback so far from pool admins:
* No time to add the pool data to the registry
* No confidence in the Stacks Wallet for Web until officially released

I'll keep poking now and then until the start of cycle 9 and continue with other work meanwhile.

[2021-05-08 05:43] friedger commented on #32
40 hours development work has been done
12 hours documentation work has not been done

666$ has been paid.
2194$ has not been paid because the work has not been completed.

To simplify things and stay healthy, I close this proposal.

[2021-05-08 05:48] friedger opened #92 "On-chain Accounting for Stacking Pools (Take 2)"
**Background**
Users of stacking pools have to trust the pool admin to manage their rewards correctly. Transparency can help to increase the trust. Therefore, income and expenses should be collected on-chain. This will create transparency as well as help to automate stacking pool operation in the future. This is the next step to make stacking pools more autonomous. Friedger Pool and other communit

[2021-05-10 13:56] MichaelforMichigan commented on #1
This is an excellent idea which would lead to the growth in the Stacks identity, the Stacks holders, and the value of Stacks.

How do we obtain a grant to do this?

[2021-05-12 04:04] jcnelson commented on #92
Hey @friedger,

I see you're listing the clarity-bitcoin library as a key component.  I haven't had time yet to determine how truly expensive it is to parse and validate Bitcoin transactions on-chain with that code -- the frequent use of `index-of` makes it expensive.  If you end up using it for validating Merkle proofs, you might want to add a method that takes a `tuple` representation of a trans

[2021-05-12 21:41] joberding commented on #85
FYI @jcnelson - Today's news from SEC - primarily relevant to Mutual Fund - but may have impact to the above
https://www.sec.gov/news/public-statement/staff-statement-investing-bitcoin-futures-market

[2021-05-13 04:11] joberding commented on #92
+1 for an accounting feature incorp in the webapp so individual users can automatically track their transactions, base value and rewards across participating pools for taxation purposes. I realize it is beyond the scope of current proposal but thought I would throw it out there.

[2021-05-13 07:01] Teke-pixel commented on #56
Is this still available or the hackathon has already commenced ?

[2021-05-13 13:35] hozzjss commented on #69
Wanted to leave feedback that I've been blocked on @RaffiSapire as our conversation over the grant stopped for almost a month now, and I can't reach them at all, at any platform, don't know who to connect with

[2021-05-14 17:17] jhammond2012 opened #93 "TEST (please ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:20] #93 closed

[2021-05-14 17:23] jhammond2012 opened #94 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:24] #94 closed

[2021-05-14 17:25] jhammond2012 opened #95 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:30] #95 closed

[2021-05-14 17:31] jhammond2012 opened #96 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:40] #96 closed

[2021-05-14 17:40] jhammond2012 opened #97 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:42] #97 closed

[2021-05-14 17:42] jhammond2012 opened #98 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:43] #98 closed

[2021-05-14 17:43] jhammond2012 opened #99 "TEST (Please Ignore)"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:47] #99 closed

[2021-05-14 17:47] jhammond2012 opened #100 "TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:53] #100 closed

[2021-05-14 17:53] jhammond2012 opened #101 "TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 17:59] #101 closed

[2021-05-14 17:59] jhammond2012 opened #102 "TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-14 18:02] #102 closed

[2021-05-14 18:02] jhammond2012 opened #103 "TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-15 13:03] #103 closed

[2021-05-15 13:03] jhammond2012 opened #104 "TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-15 17:12] falkonprods commented on #65
M10 Task 1  Has been completed. Submitting for approval.

- Workflows: https://miro.com/welcomeonboard/EgAzzSZ0GZrB8SilD9fgdq4pqzLOP7Ewpkz1cnxLerLGy6z89u7LbkB6gJAiQtXG
- User Stories (requirements) in Story Map: https://miro.com/welcomeonboard/7dcDg2yOnUOfdsseAG1NaKUl4Njf8UAO1FGmfnRlkpuhlwRRspEEd9dxDOPXtNHv
- Mobile Design Prototype: https://www.figma.com/proto/qgJqserxx5gP4vWiCj9PCX/LAB3?page-id=

[2021-05-17 11:11] #104 closed

[2021-05-17 11:12] jhammond2012 opened #105 "TEST please ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-17 11:19] #105 closed

[2021-05-17 11:19] jhammond2012 opened #106 "Test - Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-17 11:42] #106 closed

[2021-05-17 11:42] jhammond2012 opened #107 "Test Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-17 12:00] #107 closed

[2021-05-17 12:00] jhammond2012 opened #108 "TEST2"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-17 12:14] jhammond2012 opened #109 "TEST 3"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-17 12:31] jhammond2012 commented on #108
!m1_complete

[2021-05-17 13:34] #108 closed

[2021-05-17 13:35] #109 closed

[2021-05-17 20:47] jennymith commented on #92
Hi @friedger, this has been approved. However, please keep us updated on the status of pool admin registrations for #84. If possible, could you please set a deadline within the next couple of weeks to get everyone registered so that we can close out that grant? Thanks! cc: @RaffiSapire for the contract--thank you!

[2021-05-17 21:13] RaffiSapire opened #110 "Test 1 Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

this is a test
**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking?

[2021-05-18 03:27] ghost opened #111 "Feedback:"
# Grants Program Feedback

## General Feedback

Please share your feedback with us, we would love to know more about your experience!

## Feature Request

What feature would you like to see? Please describe in detail.

## Technical Issues

If you are having issues using the [grants application platform](https://grants.stacks.org), please provide the information below.

### General Info

- Operatin

[2021-05-18 11:45] jhammond2012 opened #112 "TEST Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-18 12:02] #112 closed

[2021-05-18 12:02] #110 closed

[2021-05-18 15:09] RaffiSapire opened #113 "This is a test!"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-18 17:04] RaffiSapire opened #114 "test 2 Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-18 17:28] RaffiSapire opened #115 "Turkey Grant May 2021"
This grant is for the turkey grant.

[2021-05-18 17:29] RaffiSapire opened #116 "China Chapter Issue May 2021"
This grant is for the China Chapter Grant.

[2021-05-18 17:30] RaffiSapire opened #117 "Korea Grant May 2021"
This grant is for the korea chapter.

[2021-05-18 17:31] RaffiSapire opened #118 "Pakistan Chapter Grant May 2021"
This grant is for the pakistan chapter.

[2021-05-18 17:31] RaffiSapire opened #119 "India Chapter Grant May 2021"
This grant is India Grant.

[2021-05-18 19:31] RaffiSapire commented on #39
Hi @aj07, I wanted to check in to see, is this update something that you are going to complete?

[2021-05-18 19:31] hozzjss opened #120 "DecentDelegate application"
Background
What problems do you aim to solve? How does it serve the mission of a user owned internet?

Trust

Delegators must trust the delegate to do the right thing and distribute rewards, with a contract you might alleviate a great deal of that trust, through a collateral paid in advance, and even with multisig wallets, you could get to total trustless stacking.

A delegate might have a reputat

[2021-05-18 19:31] friedger opened #121 "On-chain Accounting for Stacking Pools (Take 2b)"
**Background**
Users of stacking pools have to trust the pool admin to manage their rewards correctly. Transparency can help to increase the trust. Therefore, income and expenses should be collected on-chain. This will create transparency as well as help to automate stacking pool operation in the future. This is the next step to make stacking pools more autonomous. Friedger Pool and other communit

[2021-05-19 15:03] MickM21 commented on #87
!m1_complete

[2021-05-19 15:04] MickM21 commented on #87
We are very happy to report that the first milestone has been successfully completed.

In particular, as announced through the various community channels, on Thursday 13th May we officially launched the application [This is #1](https://thisisnumberone.com/), through press releases from various online publications and social media.

Yesterday, Monday 18th May, we started the auction of the first NF

[2021-05-19 15:08] MickM21 commented on #87
!m1_complete

[2021-05-19 15:08] MickM21 commented on #87
We are very happy to report that the first milestone has been successfully completed.

In particular, as announced through the various community channels, on Thursday 13th May we officially launched the application [This is #1](https://thisisnumberone.com/), through press releases from various online publications and social media.

Yesterday, Monday 18th May, we started the auction of the first NF

[2021-05-19 21:52] RaffiSapire commented on #120
Hey @hozzjss when you closed this it was removed by our system, so Jonathon is going in to try to retrieve the info you already input.

[2021-05-19 21:53] RaffiSapire commented on #119
@jhammond2012 it looks like for some reason this was added automatically by you as "closed"

[2021-05-19 21:55] hozzjss commented on #120
I was really confused by the closed label here and then the payment label on the old grant, so had weird signals tbh, but yeah I'll keep my hands off this time, and if you think we need to do a different issue I'm comfortable to do that

[2021-05-19 23:27] falkonprods commented on #65
Milestone one complete, see my comment above

!m1_complete

[2021-05-20 04:23] pseudozach commented on #67
!m1_complete

[2021-05-20 12:12] jhammond2012 opened #122 "New TEST"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-20 12:28] #114 closed

[2021-05-20 12:28] #113 closed

[2021-05-20 12:28] jhammond2012 opened #123 "NEW TEST 22"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-20 12:35] #123 closed

[2021-05-20 16:02] falkonprods commented on #65
Milestone one complete, see my comment above (3rd time's a charm)
!m1_complete

[2021-05-20 16:04] jhammond2012 commented on #65
@RaffiSapire I'm only seeing 1 milestone for this one. Is it okay for me to add the others?

[2021-05-21 02:30] RaffiSapire commented on #65
@falkonprods can you try typing !m1_complete again?

[2021-05-21 02:48] falkonprods commented on #65
Milestone one complete, see my comment above (4th time's a charm)
!m1_complete

[2021-05-21 02:56] falkonprods commented on #65
!m1_complete

[2021-05-21 04:02] asteriabtc commented on #65
oh bots...

[2021-05-21 04:57] friedger commented on #92
This is closed in favor of #121

[2021-05-21 12:36] hozzjss commented on #120
!m1_complete

[2021-05-23 11:45] Pravica-Inc commented on #71
@mardi00 We started our journey and we built the authenticator called `Wise`, We believe to make it the standard tool for mobile authentication and the wallet for holding your digital assets.
Now you can find it on both App store and play store, you can test it using Pravica as well, here is the link:
https://wiseapp.id
We would like to know your feedback.

[2021-05-23 20:35] SmartMirlo commented on #74
Thank you! Working in M1 ...

[2021-05-24 19:38] jdbender66 commented on #80
Hey there B&L,

Congratulations! Because you are such a well-known builder in the Stacks space, you get an extra special personal nagging to complete the Hiro developer survey 😜

Just wanted to give you a personal bump, as we would really appreciate the perspective of someone who has genuine experience building in the ecosystem. We're so excited about the potential of B&L leveraging Stacks technol

[2021-05-25 04:11] jhammond2012 opened #124 "TEST - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-25 04:18] murarjam630 opened #125 "Amortize - Allows Homeowners to exchange 5% of the future value of their home for Bitcoin."
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

There is currently 20 Trillion worth of Bitcoin trapped in owner occupied single family homes in America. The only way for homeowners to access this Bitcoin right now is to sell their home or take out a loan against it. Not only will Amortize help people onboard to a user owned internet, but

[2021-05-25 04:29] #124 closed

[2021-05-25 05:01] pseudozach commented on #67
After further discussion with Marvin, I've now deployed an additional feature that allows users to create and deploy their own glue resolver contracts!
These contracts allow users to fetch data from pre-existing oracles (like [psq's signed exchange oracles](https://github.com/psq/stacks-open-oracle)) by using these glue contracts user does not have to trust stxpredict or stxoracle but they can use

[2021-05-25 19:04] RaffiSapire commented on #120
Hi @hozzjss  please share M1 deliverables here?

[2021-05-25 20:16] hozzjss commented on #120
I'm not sure that it has all the required stuff, but I think that's enough for us to go to milestone 2, [Contract code](https://github.com/hozzjss/cooperative-stacking/blob/master/contracts/decent-delegate.clar), I hope you take a look at it and let me know what you think and the missing parts that I should fill
[Testnet version](https://explorer.stacks.co/txid/ST22HQ6YT0NAHB42F6X8PGZVA70S2XNB7KF0

[2021-05-27 05:14] RaffiSapire commented on #67
This is great! We reviewed and are excited to see this get to the finish line. Thanks for your time here. I’ll disburse for the next milestone.

[2021-05-27 12:36] friedger commented on #121
The first bitcoin transaction has been verified on the stacks testnet. I wrote a summary here: https://app.sigle.io/friedger.id/zwmiYGAH1TvqQnoiKGqSV
The web app is part of [Speed Spend](https://speed-spend.org/pool-audit).
This complete m1

[2021-05-27 12:36] friedger commented on #121
!m1_complete

[2021-05-27 13:04] friedger commented on #121
!m1_complete

[2021-05-27 14:28] jhammond2012 opened #126 "TEST - Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-31 06:51] ogasky opened #127 "Stacks Nigeria Chapter Application"
**Help us understand your vision for your Stacks Chapter by answering the following questions:**

**1. What about Stacks are you most excited about? Please be specific. (For example, you could be excited about “recruiting more Stackers” or “bringing DeFi to Bitcoin”.)**
Nigeria has a population of over two hundred million people, and is one of the African countries with large number of software de

[2021-05-31 12:35] #126 closed

[2021-05-31 12:35] jhammond2012 opened #128 "TEST - Please Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-31 13:22] #128 closed

[2021-05-31 13:22] jhammond2012 opened #129 "TEST 2 - Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-05-31 14:02] #129 closed

[2021-05-31 14:03] jhammond2012 opened #130 "test3 - ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-01 20:48] jennymith commented on #120
Hey @hozzjss, quick clarifying question: Were you able to talk to other pool providers and find out if this contract is something they would want to implement for their own pools? If not, we recommend talking to at least 2 pool providers and sharing your learnings from your conversations with them before moving on to M2.

[2021-06-01 21:00] jennymith commented on #121
Congratulations @friedger! Looking forward to M2. Just keep us posted on your work involving the price oracle.

[2021-06-01 21:38] hozzjss commented on #120
Got it!

[2021-06-02 06:13] philipdesmedt commented on #72
!m1_complete

[2021-06-02 06:16] philipdesmedt commented on #72
@RaffiSapire anything missing here? I believe we signed the agreement?

[2021-06-02 06:18] philipdesmedt commented on #125
@murarjam630 not sure if still relevant, but feel free to DM on Stacks discord (pipje#2872), I can connect you to some people who are working on something with real estate & tokenization that could be relevant.

[2021-06-03 15:13] friedger commented on #84
Xverse, planbetter and Friedger Pool have been registered in the registry. This complies M1

!m1_complete

[2021-06-03 15:13] friedger commented on #84
!ma_complete

[2021-06-03 15:14] friedger commented on #84
!m1_complete

[2021-06-06 09:33] fiftyeightandeight opened #131 "ALEX - a functioning platform on Stacks that efficiently connects crypto financial participants"

[2021-06-06 09:36] rachelyingyi opened #132 "ALEX - a functioning platform on Stacks that efficiently connects crypto financial participants"
## Background

Stacks is an open-source network of decentralized apps and smart contracts built on Bitcoin. Stacks unleashes Bitcoin’s full potential as a programmable base layer.
Stacks makes it then possible to access the liquidity, power, and safety of Bitcoin’s 1tn dollar blockchain.
Stacks 2.0 being released only recently, however, there is currently a lack of DeFi primitives and ecosystem to

[2021-06-07 14:24] #130 closed

[2021-06-07 14:24] #125 closed

[2021-06-08 13:08] friedger commented on #84
!m1_complete

[2021-06-08 14:15] philipdesmedt commented on #72
fyi:

Updated the milestones to reflect the first payment ($25K) and adapted the amount for M2 and M3 to match the $50K grant.

We are going live on testnet June 16th (next Wednesday), which should finish up M2.

[2021-06-08 14:17] philipdesmedt commented on #72
Milestone 3 is advanced as well. All functionality is done really, only the security audit is pending which I'm looking for a vendor for. Documentation can be found on github (https://github.com/arkadiko-dao/arkadiko/) or docs (https://docs.arkadiko.finance/).

[2021-06-08 14:17] philipdesmedt commented on #72
!m1_complete

[2021-06-08 16:20] arkoc opened #133 "Toolkit for generating smart contract and web explorer from data model"
**Background**

We are Bransfer from the Stack Accelerator program. We are helping traders to move BTC between exchanges extremely fast and we use Stacks to keep records of all transactions that are done off the bitcoin chain. As we were implementing Stacks integration, we thought that this could be a very common case. When software wants to store data in blockchain (for credibility) and have an e

[2021-06-08 16:43] RaffiSapire commented on #39
Hi @aj07 please let us know by Friday if you plan on completing this with an updated timeline, else we will mark as closed.

[2021-06-08 16:45] Pravica-Inc opened #134 "Wise - Stacks tools for mobile dapps"
**What problems do you aim to solve? How does it serve the mission of a user owned internet?**

There is a problem with building DApps on mobile iOS/Android native or cross-platform on top of Stacks infrastructure and the current unsupported community SDKs are outdated, and would not have the stacks 2.0 support unless much much work is put into these SDKs (almost a revamp) closing that process int

[2021-06-08 16:48] RaffiSapire commented on #87
Thats great, @radicleart!  Is this is complete?

[2021-06-08 16:48] Pravica-Inc commented on #134
We published this grant 3 month ago [Authenticator](https://github.com/stacksgov/Stacks-Grants/issues/134).
We continued the plan and kept working on it, and rebranding Pravica Authenticator to WISE.

Since 15 May we published Wise on the stores and we got 250+ users download and more than 400+ id.stx created using Wise

We're looking forward to collaborate with Stacks and fast the development in

[2021-06-08 21:06] friedger commented on #121
Update M2 - week 1

Bitcoin Testnet suffered from a Blockstorm and therefore, our testing was postponed.

Price finding via oracle has been improved to fall back to previous blocks (up to 3) in case of flash blocks or as a last resort to the last known price. The contract is deployed with a call to the price oracle such that there will always be a last known price. - With the launch of .btc domain

[2021-06-10 05:11] pseudozach commented on #67
!m3_complete

[2021-06-12 11:19] sberemski opened #135 "ROYALE - Real-time PVP Skill-based gaming platform"
### Background
_What problems do you aim to solve? How does it serve the mission of a user owned internet?_

We are looking to explore the opportunity offered by blockchain technology to create novel game experiences and to create game infrastructure that enable novel game experiences or business models.

We want to create technology that enables creators and consumers to retain more of the econom

[2021-06-12 16:17] OmurCataltepe commented on #115
!m1_complete

[2021-06-14 13:27] jhammond2012 opened #136 "TEST - Please Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-14 14:02] jhammond2012 commented on #136
!m1_complete

[2021-06-14 14:08] jhammond2012 commented on #136
Test test 123 !m1_complete

[2021-06-14 14:14] jhammond2012 commented on #136
!m1_complete

[2021-06-14 14:40] #136 closed

[2021-06-14 16:04] arkoc commented on #133
Edited original post:
1. Because 10.000$ + 7.000$ is not equal to 20.000$ :)
2. Updated my Grammarly to PRO version, so I fixed some grammar issues.
3. Fixed some some punctuation issues.

[2021-06-14 16:56] arkoc commented on #133
Edited original post one more time:

1. Added M0 milestone.

M0 milestone will help to understand if this tool useful community and will allow collecting early feedbacks to understand moving direction.

[2021-06-15 14:10] radicleart commented on #87
Hi @RaffiSapire, yes this is now complete.

[2021-06-15 15:14] louiseivan commented on #127
We currently have a chapter in the works. I suggest coordinating with Haroun, who's building the community for Africa. Also, the figures here are overblown. We have a bias toward action and would want to see momentum before anything else. Usually, chapter leads have a long list of community contributions which can be found in Hiro, Freehold, Daemon Technologies, New Internet Labs, or Stacks Founda

[2021-06-15 16:37] ogasky commented on #127
@louiseivan, thank you for the update about the African community work in progress, and am very happy to be part of it. Africa is a continent with 54 countries and Nigeria is just one of these African countries, thus she will be part of the African community. However, in the issue of momentum, I and my team are very ready to give in our best towards the success of the community in Nigeria. It will

[2021-06-15 19:31] radicleart opened #137 "Stacks Mate"
**Background**
For period: June/July 2021

Ask: $18,000 (reduced from $25,000 with removal of FeePay / sponsored transaction solution) USD

### Introduction
Stacks mate is a straight forward service with one goal - to drive adoption of the Stacks Web Wallet by solving the full stop problem:

I’ve downloaded the Stacks Web Wallet, created an account but how the heck do I get any STX into it to driv

[2021-06-16 18:21] anovum opened #138 "on-chain data analysis tool and API for Stacks"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-b6009da5-7fff-565e-805b-3fd168d4526d"><h1 dir="ltr" style="line-height:1.38;margin-top:12pt;margin-bottom:12pt;"><span style="font-size:12pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-s

[2021-06-16 23:17] HariniRajan397 opened #139 "Enable User choice of Gaia hub to the current Web Wallet based onboarding of users to apps"
**Background**
What problems do you aim to solve? How does it serve the mission of a user-owned internet?
Currently, during onboarding of new users to apps,  they are assigned a default storage through Gaia hub hosted by Hiro PBC. This enables devs and users to use Stacks apps without worrying about storage.

However,  one of the important parts of Stack’s mission is to empower users to make their

[2021-06-17 09:26] Deliver88 commented on #139
Hello, thanks for the proposal @HariniRajan397 ,

I totally agree with this.  Evaluating using Stacks instead of classical approaches the argument of the user data ownership plays a decisive role. Moreover, this is also a selling argument looking to use Stacks for commercial purposes to increase the trust. In contrast to that, the integrity and confidentiality of the user profiles are given throug

[2021-06-17 09:28] SmartMirlo commented on #139
This is an important piece for users to decide about their data management. I would like to see it implemented: it provides an original feature that enhances the Stack's mission of a user owned Internet.

[2021-06-17 10:43] Deliver88 commented on #139
I would like to add one more thing. The Gaia hub choice opportunity will relax the situation in case having a huge amount of data, for e.g. from a dApp relies on Stacks with millions of users. It could give the dApp operator the ability to deploy its own Gaia hub infrastructure, for sure when the users would like to use it.

One additional use case enabled through own/distributed Gaia hubs might b

[2021-06-17 11:00] markmhx commented on #139
I'd love to see the BlockSurvey team work on this with the support of a grant 👍

[2021-06-17 14:28] RaffiSapire commented on #72
Hey @philipdesmedt could you share a demo here to demonstrate M1 + M2 please?

[2021-06-17 19:35] grigerny opened #140 "A simple way to set royalties for NFTs"
**Background**
Our platform for minting and manage NFT businesses requires us the ability to set various royalty percentages and create unique tokenomics when NFTs are sold 2, 3, 4 times etc
As NFTs become more and more popular, the ideal scenario is that the best art is propped to the top. In order to do that, we believe that royalties are an immensely important part of rewarding great artwork. W

[2021-06-17 21:17] RaffiSapire commented on #134
Hi @Pravica-Inc

1.  We did pass on the Authenticator previously. What changed since then and why would it be more useful now?
2. You mention you have an app thats done in this application, but its just not open source. Making something built previously open isn’t a fit for the grant program. It's important that we are funding future work. Can you clarify?

[2021-06-17 21:18] RaffiSapire commented on #133
Hi there, unfortunately this is a pass for us. We're not seeing additional value driven by this scope for the community, and this is also being funded already by the accelerator.

[2021-06-17 21:18] #133 closed

[2021-06-17 21:19] RaffiSapire commented on #132
Hi @rachelyingyi Thanks for applying. We would like for you to come back with an updated scope 1-2 weeks out from the end of the accelerator. We will fund future work building on top of and furthering what is done during the accelerator. Keep in mind, we wouldn’t provide a grant to make something that is already built but is closed source open. We’d be excited to fund future open source work here.

[2021-06-17 21:19] #132 closed

[2021-06-17 21:21] RaffiSapire commented on #135
Hi @sberemski
Unfortunately, this is a pass for us.

It looks like this is a pre-existing product that you want to expand with grant funding. I don’t think that’s an issue per se but it feels like Stacks is an afterthought here. We would rather see social proofs within our community that there is interest for something like this. In addition, funding a project's ICO is out of scope for us. We're f

[2021-06-17 21:21] #135 closed

[2021-06-18 06:35] philipdesmedt commented on #72
@RaffiSapire yes - apologies for the delay, will do that!

[2021-06-18 11:53] Pravica-Inc commented on #134
Hi @RaffiSapire

The answers to your questions are included already in our proposal, it seems that you didn't have enough time (despite replying after about 10 days of our proposal) to read our proposal carefully and review the previous one and do a quick comparison to extract the main differences in order to build a good vision that may lead you to the proper decision. [end of text]

Here is a sa

[2021-06-18 16:41] accountone88 opened #141 "AccountOne"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

AccountOne will be the first crypto native financial services platform that will enable clients to submit their information anonymously to third parties to receive offers for financial based products.

The current leadgen platforms capitalize on monetizing a users information by selling it to

[2021-06-23 18:07] philipdesmedt commented on #72
@RaffiSapire @jennymith I finally made the videos. There are 4 parts since I didn't have a Loom license and the max is 5 minutes per video on a free plan :)

Part 1: https://www.loom.com/share/f708b36cfe7344cda6fcef0a33c1a63c
Part 2: https://www.loom.com/share/527b1fe92a414d159a08b21ac48faa7d
Part 3: https://www.loom.com/share/36e4f331d3a545d59c4fc72d2cf751fe
Part 4: https://www.loom.com/share/6d7

[2021-06-23 20:19] JODIN1727 opened #142 "Feedback:"
# Grants Program Feedback

My name is Suriyawong Phonchai and I am working on the new community enrollment and provide the possible support on any possible offer on community services and the energy for community sustainable projects development funds raised for both general government and non governmental groups as well for this who needs and so on.

## General Feedback

Please share your feedbac

[2021-06-24 10:48] fiftyeightandeight opened #143 "ALEX - a functioning platform on Stacks that efficiently connects crypto financial participants"
## Background

Stacks is an open-source network of decentralized apps and smart contracts built on Bitcoin. Stacks unleashes Bitcoin’s full potential as a programmable base layer.
Stacks makes it then possible to access the liquidity, power, and safety of Bitcoin’s 1tn dollar blockchain.
Stacks 2.0 being released only recently, however, there is currently a lack of DeFi primitives and ecosystem to

[2021-06-24 21:35] RaffiSapire commented on #72
Folks on the committee can request access on testnet to pipje#2872.

[2021-06-25 18:43] TeamBandL commented on #80
Hey Raffi, sorry for the slow reply! We met with Mitchell in LA recently and have a good plan of attack, things are just a bit hectic as we get back to normal show season post-Covid.

[2021-06-26 03:09] Regulr3 opened #144 "BYOD : A decentralized data marketplace enabling consumers to sell access to their data in exchange for Bitcoin."
**Background**
**What problems do you aim to solve? How does it serve the mission of a user-owned internet?**

In the year 2021, it’s no secret that big tech platforms like Facebook, Google, and others aren’t actually free to use. We, the individual users, are the “product” that enables these platforms to exist and provide their services. Our data is monetized to power ad network behemoths. Given

[2021-06-28 03:39] RaffiSapire commented on #137
Hi @radicleart, we discussed at the committee meeting which was Thursday last week. First, we suggest you break up the "Buy with STX" and the "STX Swap" as two separate grants. Our feedback on each:

STX Swap
- anyone can add to their own web app?
- Do end-devs get a simple button to integrate a “get Stacks” button, like a paypal button?
- Is it a service or a package for app developers to use?

F

[2021-06-28 03:45] RaffiSapire commented on #138
Hi @anovum , we discussed at our grants meeting, which was delayed to Thursday last week. Our next meeting is Tuesday.

We agree a tool of this nature is necessary. In order to make this a super tool with superusers, we would love if you could deliver some early version of this that community could test and provide continuous feedback on. Discord is the best place to find and interact.

Could you

[2021-06-28 03:46] RaffiSapire commented on #139
Hi @HariniRajan397 this is approved and we are excited to see it built!

Would love to see if hosting/provisioning hubs could be explored as part of this.

[2021-06-28 03:48] RaffiSapire commented on #140
Hi @grigerny, this grant is approved!

We have some questions to think about:

1. Would like a better idea of what concrete implementation will be.
2. How do we make sure that creator gets the royalties?
3. If you’re making NFTs for sale, then why wouldn’t you go through an NFT exchange that gave you royalties?
4. What if the buyer of the NFT simply sells the NFT on a different platform?

[2021-06-28 03:50] RaffiSapire commented on #141
Hi @accountone88 thank you for your submission. We discussed and unfortunately this is a pass for us. Reason being, the grant is not well scoped, and we are concerned that there is not a development team already part of this submission.

[2021-06-28 03:50] #141 closed

[2021-06-28 03:51] RaffiSapire commented on #72
Hi @philipdesmedt we reviewed and approve M3 to be disbursed here.

[2021-06-28 03:51] RaffiSapire commented on #72
Great work!

[2021-06-28 06:07] philipdesmedt commented on #72
@RaffiSapire thanks! feel free to connect over email if you have questions regarding the disbursement

[2021-06-28 09:30] friedger commented on #52
!m3_complete

[2021-06-28 09:32] friedger commented on #117
Is this finished? How does the foundation support chapters in general?

[2021-06-28 14:34] HariniRajan397 commented on #139
Thank you @RaffiSapire ! Regarding hosting/ provisioning hubs, I would like to discuss this with you or another member of the grants team to understand the proper expectations/scope. Kindly let me know if we can have a discussion tomorrow during the Stacks grants office hours. Thank you very much!

[2021-06-28 19:57] himislife commented on #144
What an amazing grant proposal, I love it. So excited for Regulr!

[2021-06-28 21:13] GigWire commented on #144
This is a big (and necessary) step forward for the internet of things. I'm really interested to see what other doors open as a result of this. I'd love to help.

[2021-06-28 21:57] user2745 commented on #144
Very interesting...  As a defi degen, I have some questions:
What is your L2 Solution on the btc network? How compatible is lightning with stacks?
What's the advantage of going straight to BTC instead of WBTC?
Keeping an eye on your progress :)

[2021-06-28 23:34] RaffiSapire opened #145 "Pakistan Chapter June 2021"
This is the monthly grant for chapter program.

[2021-06-28 23:35] RaffiSapire opened #146 "Turkey Chapter Grant June 2021"
THis is the monthly chapter grant for the turkey chapter.

[2021-06-28 23:36] RaffiSapire opened #147 "China Chapter Grant June 2021"
This is the china chapter grant for June.

[2021-06-28 23:36] RaffiSapire opened #148 "Korea Chapter Grant June 2021"
THis is the Korea Chapter Grant for June

[2021-06-28 23:37] RaffiSapire opened #149 "India Chapter Grant June 2021"
This is the India Chapter grant for June.

[2021-06-28 23:49] RaffiSapire commented on #143
Hi @fiftyeightandeight - we are excited to support this and you all. It will be a great contribution to the community. I'd like to provide some help scoping this out a bit more. We have our committee meeting tomorrow in case you're able to provide a response before then.

1. M1 - can you clarify, what is the output here? What will a user be able to do after M1? Said another way, how do we know whe

[2021-06-28 23:59] RaffiSapire commented on #140
Hi @grigerny - We're having an issue with the new grant bot, but we're fixing it and a sign up form will be posted here likely tomorrow. Sorry for the delay on the onboarding!

[2021-06-29 01:54] aadamshick commented on #144
Really impressive proposal! Excited to see what comes of this

[2021-06-29 02:18] Alonzo commented on #144
Interesting proposal. I have long said there is ample opportunity for someone to bring a blockchain based solution to the complexities of GDPR and other data privacy regulations. While the timeline is rather aggressive, the detail in your scope is good and the agile approach shows y’all are serious. I hope this sees some funding!

[2021-06-29 02:51] fiftyeightandeight commented on #143
Hi @RaffiSapire,

1. The deliverables are (a) the final Class Diagram (Fig 7) and (b) two whitepapers covering (i) platform architecture and (ii) key automated market making technologies developed. All will be available through https://docs.alexgo.io and https://github.com/alexgo-io/alex-v1. Please also review the two links for an overview of what has been built to date (and what will be built ove

[2021-06-29 07:56] Olaim commented on #144
This looks very cool! Very interested to see how this will work out.

[2021-06-29 08:48] radicleart commented on #137
Hi @RaffiSapire  - thank you these are really great questions.

I have removed FeePay (see quoted comments above) - it is a smaller service that comes with we estimate about 7K of extra work on top of the main proposal - for STX Swap. The costings have been revised back to 18k.

In answer to your questions..

STX Swap

 - any Stacks d-app can redirect their user to the service if they sign them up

[2021-06-29 09:42] philipdesmedt commented on #72
!m2_complete

[2021-06-29 13:14] joeyfigaro commented on #144
Control over our digital footprints is long overdue. What BYOD has already managed to put together has been inspiring, and I'm betting funding would really take this to the next level.

[2021-06-29 14:05] HariniRajan397 commented on #139
No worries, and thanks for keeping me updated, @RaffiSapire! Meanwhile, Alex contacted me yesterday, and we're meeting today to talk about hub configuration and provisioning.  Thank you kindly for your assistance! !

[2021-06-29 14:45] jhammond2012 opened #150 "TEST - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 15:07] jhammond2012 opened #151 "TEST2 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 15:23] jhammond2012 opened #152 "TEST 3 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 15:30] jhammond2012 opened #153 "TEST 4 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 15:36] #153 closed

[2021-06-29 15:37] jhammond2012 opened #154 "TEST 5 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 15:51] jhammond2012 opened #155 "TEST 6 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:08] #155 closed

[2021-06-29 16:08] #154 closed

[2021-06-29 16:09] #152 closed

[2021-06-29 16:09] #151 closed

[2021-06-29 16:09] #150 closed

[2021-06-29 16:21] jhammond2012 opened #156 "TEST - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:36] jhammond2012 opened #157 "TEST 2 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:39] jhammond2012 opened #158 "TEST 3 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:44] jhammond2012 opened #159 "TEST 5 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:48] jhammond2012 opened #160 "TEST 7 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 16:55] #160 closed

[2021-06-29 17:01] #159 closed

[2021-06-29 17:01] #158 closed

[2021-06-29 17:01] #157 closed

[2021-06-29 17:07] #156 closed

[2021-06-29 17:07] RaffiSapire commented on #139
Hi @HariniRajan397  - can you try the onboarding flow here and let us know if you are able to sign up and then receive email with docusign?

[2021-06-29 17:08] RaffiSapire commented on #140
Hi @grigerny  - can you try the onboarding flow here and let us know if you are able to sign up and then receive email with docusign?

[2021-06-29 17:13] jhammond2012 opened #161 "TEST - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 17:15] jhammond2012 opened #162 "TEST 2 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-29 17:56] OmurCataltepe opened #163 "Turkey Chapter Grant June 2021"
This is the monthly chapter grant for the Turkey chapter.

[2021-06-29 22:56] Regulr3 commented on #144
We'd love to connect with you! We can discuss further on discord or email if you like?

[2021-06-29 23:17] Regulr3 commented on #144
1. We see BYOD as a L3 solution and Stacks really as the L2 layer underlying nearly all that BYOD will do but on top of BTCL1 for end settlement.

2. Stacks is our L2 solution if we understand your question correctly. Each user when creating an "account" will automatically have a Stacks and Lightning wallet created/tied to their account where they will be able to send and receive STX/BTC + have ad

[2021-06-29 23:56] friedger commented on #121
Update M2 - week 2

Bitcoin Testnet is working better.

More testing happened, UI has been improved.

As part of testing, a trustless BTC/STX swap has been implemented and tested:
https://twitter.com/fmdroid/status/1410018264982470663

Next steps:
* invite testers to discord server
* prepare educational material

[2021-06-30 02:54] HariniRajan397 commented on #139
@RaffiSapire, sure! Thank you very much. We had a question about the form, so we contacted Jenny! Once our query is resolved, we will complete the onboarding flow.                                                                                                                                                 Meanwhile, I would like to provide an update on my meeting with Alex. We both agreed to proc

[2021-06-30 05:08] faithinyous opened #164 "SeekProtocol Grant application"
Background What problems do you aim to solve? How does it serve the mission of a user-owned internet?

Freelancing has become a core part of the contemporary economy and an essential component that private individuals and companies rely upon to deliver goods and services successfully. Around a third of all US, the workforce is also freelancing in a certain capacity, with some of them choosing to l

[2021-06-30 11:48] #162 closed

[2021-06-30 13:00] jhammond2012 opened #165 "TEST 9 - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-06-30 13:39] friedger commented on #121
!m2_complete

[2021-06-30 14:38] #161 closed

[2021-06-30 17:13] HariniRajan397 commented on #139
@RaffiSapire Wilson has signed the contract, and please note that, as part of the initial grant update, we will begin Milestone 1 on July 6th. Please let me know if you have any concerns. Thank you kindly.

[2021-06-30 18:15] jhammond2012 opened #166 "TEST 22 - Use a unique name that describes your grant Hol"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-07-01 14:19] Filmaluco opened #167 "Android Update - Addresses generation / Authenticator with usernames"
**Background**

The Android platform has a huge growth potential for Stacks. Currently Android Developers can use the [Blockstack Android SDK](https://github.com/blockstack/blockstack-android) to develop apps within the Stacks ecosystem. But the SDK is  outdated, with no major changes since Stacks 2.0 was launched.

**Project Overview**

The main goals are to update the Android SDK and release the

[2021-07-01 14:28] philipdesmedt commented on #72
@RaffiSapire @jennymith I think the biggest item left on this is a security audit, but that will likely take a few more months (i.e. finish up the scope, find a suitable auditor for Clarity etc).

I think after that the grant is finished? I'll keep you updated anyhow as we get Arkadiko closer to mainnet.

[2021-07-01 14:58] RaffiSapire commented on #139
Hi @HariniRajan397 I've sent you an invite to be added to bill.com, where I'll disburse payment.

[2021-07-01 15:00] friedger commented on #167
Looking forward to it so that OI Calendar can get updated!

[2021-07-01 16:58] #165 closed

[2021-07-01 17:39] markmhx commented on #137
Please loop me into any planning where you feel I could be helpful re: integration with the Stacks Wallet. This is an important initiative.

[2021-07-01 18:27] RaffiSapire commented on #30
Hey @whoabuddy , wanted to check in on this grant and estimated time to completion. Is there anything you need help with? Thank you!

[2021-07-02 15:54] wilsonbright commented on #139
Hi @RaffiSapire, I'm not able to add India to a location in Bill.com. It looks like it is only for the US. Let me know if there is an alternative way.

[2021-07-03 12:23] cpblackb commented on #144
This is a perfect example of how liberty drives innovation and discipline allows for the enjoyment of freedom. I love this used case.

[2021-07-03 15:54] dantrevino commented on #52
!m3_complete

Completing this, per comments above this work was done in early April.

[2021-07-04 08:53] MicahDevs opened #168 "Cross-chain funding site using USDC as monetary vehicle integrated with Stacks."
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

Our product solves the issue of project funding without gimmicks across numerous chains with USDC used as a fair, stable and reliable commerce vehicle. We hope we create a platform for reliable funding, no matter if the sentiment is bearish or bullish, and we likewise are building with as muc

[2021-07-05 18:57] radicleart commented on #137
@RaffiSapire - any updates?

[2021-07-05 19:14] fintechrecruiters commented on #21
@RaffiSapire fyi @jennymith @blocks8

This message is to provide an update on Grant #21 - Stacks Monitor: real-time analytics tool that I originally started last year.

1) Fast forward a few months (6 months later) and the project is 85% complete.

2) The total budget for this project was $5000 USD; however, the data science and analytics skills required to connect the live streaming data for the

[2021-07-05 22:12] Mate-Swap opened #169 "CryptoMate - Research proposal into the concept of an Ethereum Native Stablecoins to Stacks Native Stablecoin Bridge"
**Template Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?
Lack of interactions between stable coins markets and communities.
In LATAM, where macroeconomic volatility and very low access to financial systems work against the development and prosperity of the most vulnerable population, we are looking to  integrate with locally used stablecoin

[2021-07-06 14:01] RaffiSapire commented on #144
Hi @Regulr3 , we discussed at length and unfortunately, this is a pass for us. Here is some of the feedback from the committee, but ultimately we are going to pass here.

1.  A platform like this will only work if there are some solid sellers available that would want to pay for data. Without these partnerships, it cannot take off. One other piece that would need to be verified is if users would w

[2021-07-06 14:01] #144 closed

[2021-07-06 14:03] RaffiSapire commented on #137
Hi @radicleart, we are happy to approve this grant. Can you please confirm it will be open source? Also, a couple of notes from the committee as pieces to think about (but not gating for this grant)

1. We suggest you look into the legalities of sponsoring such a service.
2. Are you sure you want to build this yourself when you could just pay for a service that would not run into the rate limit is

[2021-07-06 14:07] RaffiSapire commented on #134
Hi @Pravica-Inc - why don't you join one of the open office hours to discuss your grant, it seems like there has been some miscommunication on the back and forth here. Let’s get on a call to clarify. The office hours are Tuesday 3:30-4pm EST or Thursday at 9 am EST, on discord. Or you can ping Jenny if she hasn't reached out to talk if those times don't work this week.

[2021-07-06 14:08] Regulr3 commented on #144
Thanks,

Is the BYOD platform a better fit for the Accelerator program?

Also, we do have several large buyers we are in discussion with, it would
be nice to have a discussion with your team in general about some of your
concerns.

On Tue, Jul 6, 2021 at 10:01 AM Raffi Sapire ***@***.***>
wrote:

--

*Stephen Dodge*
*Founder*
(M) 804.467.7452  | www.regulr.io
***@***.***

*The information containe

[2021-07-06 14:09] RaffiSapire commented on #143
Hi @fiftyeightandeight thank you, this grant is approved.

[2021-07-06 14:36] radicleart commented on #137
@RaffiSapire thank you!

In reply..
1. We did check with Jesse Soslow about the legalities - specifically around AML and AML5 / KYC and understand from his reply that if the amounts are kept small there shouldn't be a problem.
2. Yes - we think building the exchange rate cache is a good idea as it also enables useful services down the line such as comparison between centralised exchange rates and

[2021-07-06 15:16] RaffiSapire commented on #67
Hi @pseudozach could you please share the latest on M3? Thank you!

[2021-07-06 15:20] RaffiSapire commented on #88
Hi @aulneau wanted to check in here and see if you had any updates on M2? Thanks!

[2021-07-06 21:02] RaffiSapire commented on #169
Hi @Mate-Swap thank you, we reviewed during our committee and had a couple of questions:
1. Can you explain how the actual bridging works?
2. How is this different than other exchanges? What are you doing better?

[2021-07-06 21:06] RaffiSapire commented on #164
Hi @faithinyous thank you for your submittal. Unfortunately, this is a pass for us. Here is some feedback:
Overall, it didn't seem specific or beneficial to the Stacks community or ecosystem. There are also many of these that exist and we couldn't convince ourselves building it on the blockchain is a core solution to a problem that exists. If in the future you'd like to pull out something specific

[2021-07-06 21:06] #164 closed

[2021-07-06 21:07] RaffiSapire commented on #167
Hi @Filmaluco we are pleased to approve this grant. A couple of asks:
1. Could you scope out the name registration more?
2. We suggest start small, look up names, registration could be a feature added in the future. How are you thinking about this?
Thank you!

[2021-07-06 21:08] RaffiSapire commented on #168
Hi @MicahDevs thank you for your application. We discussed today at grant committee and unfortunately, this is a pass for us. The reason being is, after reviewing this application, it is unclear what you all are actually doing and what problem it solves for users. Thank you for the time you took here and we wish you the best.

[2021-07-06 21:08] #168 closed

[2021-07-07 03:07] MicahDevs commented on #168
It would have opened Stacks up as an option on the funding site for project builders but we are not going to out of pocket the development costs for chains that require special coding adds such as this.

[2021-07-07 03:09] MicahDevs commented on #168
It solved the problem of funding fragmentation as mentioned but I will not bother you more in comments. It will be clear when live and we tried.

[2021-07-07 03:11] MicahDevs commented on #168
Thank you for the consideration. You are free to approach us in the future of you feel differently. Have a great week.

[2021-07-07 05:08] pseudozach commented on #67
Hi,
Almost finished with testing and other small tweaks. Expecting to deploy to mainnet soon. Will update here.

[2021-07-07 12:43] louiseivan commented on #78
!m1_complete

We're proud to say that we've completed all of our M1 milestones. See the breakdown below for the comprehensive list of achievements during Q2021.

1. [Ryder User Product Journey](https://shrl.ink/sJ65) - this is Primary Research done by Kiki Grammatopoulos
2. Grow Maker Community

- [100 dedicated members in Discord](https://discord.com/invite/42ukQRXU4E)
- [317 subscribers in the n

[2021-07-07 14:40] philipdesmedt commented on #169
@RaffiSapire I'll let the CryptoMate team answer your questions, but can chip in from the Arkadiko point of view.

1. Having an additional stablecoin on Stacks from the ERC20 world that has relatively good circulation is interesting.
2. The Arkadiko stablecoin will be able to peg against the RSV stablecoin once it is minted on helping the stability (peg) of our $1 soft peg.
3. We will support the

[2021-07-07 22:48] Mate-Swap commented on #169
@philipdesmedt
Thanks for your input
@RaffiSapire , About your questions:
Can you explain how the actual bridging works?
Our first approach to the bridging will be as follow:

- There will be a smart contract on Ethereum for locking Stablecoins and request Unlocking via a DAPP.
- People with Stablecoins such as RSV will be able to lock them on this contract to receive a counterpart on Stacks. Exam

[2021-07-08 09:52] Filmaluco commented on #167
1. Registration was develop on the Android Authenticator app, as part of another [(original) grant](https://github.com/stacksgov/Stacks-Grants/issues/22).

     When it was developed and launched it was made using the old APIs and before Stacks2.0 new BNS system.

     * we lookup the intended username, using the SDK
     * we validate the username, using the SDK
     * we create and upload the us

[2021-07-08 12:08] tycho1212 commented on #169
Love it! Stuff like this can do a lot to integrate Stacks (& Stacks dapps) better with other protocols 💪

[2021-07-08 17:26] Pravica-Inc commented on #134
Thanks @jennymith and Marvin for arranging the following up call, we discussed all related topics about the proposal and we did clarify the concerns.

We have updated the proposal to reflect the approved points related to the open-source timing and Stacks tools (Stacks JS) that is being used in the development process for the final WISE product.

Looking forward!

[2021-07-09 11:55] jhammond2012 opened #170 "TEST - IGNORE Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-07-09 11:56] #170 closed

[2021-07-09 13:51] aulneau commented on #88
Hi @RaffiSapire ! thanks for checking in -- still hard at work at various elements of each milestone -- they are happening kind of in tandem as they are pretty interrelated. I'm looking to have a beta version out within the next few weeks that includes functionality for pool operators and stackers alike to be able to sign in and get a richer experience, with the possibility of facilitating a few d

[2021-07-09 17:27] MarvinJanssen commented on #78
!m1_complete per Louise's post above.

[2021-07-12 07:23] friedger commented on #121
Milestone 2 has been split into 2 milestones to reflect the two payments for it. The previous Milestone 3 has been renamed to Milestone 4.

Looking forward to the new testnet!

[2021-07-13 08:41] fiftyeightandeight commented on #143
@RaffiSapire we signed the contract a few days ago. Please let us know if all good?

[2021-07-13 09:50] harounkola commented on #127
I'll follow up, perhaps we can combine our activities.

[2021-07-13 09:51] harounkola commented on #127
Please join our Telegram community and participate there too https://t.me/StacksAfrica

[2021-07-13 10:24] harounkola commented on #87
Exciting. Looking forward to working together and also getting a similar grant.

[2021-07-13 12:02] #111 closed

[2021-07-13 12:03] #142 closed

[2021-07-13 20:33] anovum commented on #138
I would also like to add that this is open source

[2021-07-14 16:57] ogasky commented on #127
@harounkola, I have join the telegram group. Thanks

[2021-07-14 17:45] harounkola commented on #127
Thanks @ogasky as @louiseivan mentioned, action is that the community looks for.

Bring your developer buddies to the Telegram group, now that you've joined. Let's work on creating something useful like a stacking pool just for us Africans and I'm sure they'd find that the African community can be right up there with the other's that are already creating real value for the broader Stacks community

[2021-07-15 12:56] radicleart commented on #87
Hi M1  is complete for this! !m1_complete

[2021-07-15 14:27] jennymith commented on #134
Hi @Pravica-Inc, this grant is approved cc: @RaffiSapire

[2021-07-15 18:08] HariniRajan397 commented on #139
Dear Team, A couple of updates. Please note that M1 has been extended to three weeks due to the wallet analysis taking longer than anticipated. We've also been in touch with the UX team, and we'll be meeting with them on Monday to explain the findings, get their feedback, and finalize the scope. Thank you.

[2021-07-15 21:23] ogasky commented on #127
@harounkola, as promised in the telegram group, am very much ready to support the African Continent group but we must also understand that every brands with community focus in mind build their communities from the local to country groups. I can list several for you but I do not want to promote any brand here, thus you can research on that. However, it is also key to note that I have been developin

[2021-07-15 22:32] RaffiSapire commented on #138
Ok thanks, this is approved. There should be a contract link that pops up here for you to fill out. thank you and we are excited to work with you.

[2021-07-15 22:37] RaffiSapire commented on #169
Hi @Mate-Swap , we discussed and still wanted to clarify, how the actual bridging step works in your reply. Is it custodial / trusted third party? Either way it's ok, just want to make sure we understand. @jennymith offered to set up time to discuss. We also have open office hours next week at 2:30 CT. Looking forward to speaking.

[2021-07-15 22:40] RaffiSapire commented on #167
Thank you! I've updated the grant to approved, please fill this form out?

@ Alex Grabe, one of the grant committee members, had a couple questions, if you want input from him: Even in the scope, I don't see that they are spinning up their own registrar. In the past, the Blockstack Auth would allow name registrations for free as part of the onboarding flow - this is not the case anymore. There’s w

[2021-07-16 04:12] Mate-Swap commented on #169
@RaffiSapire , on the 1st iteration of the bridge we are able to use manually the custodial services of Prosegur Crypto (the 3rd biggest security company in the world). A full integration in between the locking smart-contract in Ethereum with the custodial infrastructure from Prosegur is on the roadmap for later stages of this project. If the foundation considers other providers as better suited f

[2021-07-16 07:09] harounkola commented on #127
Good luck with your efforts to take the message of Stacks to the poeple of NIgeria. Please include @louiseivan in your activities and he'll add you to the Stacks Trooper's group too.

[2021-07-16 11:11] Pravica-Inc commented on #134
Thanks @jennymith, @RaffiSapire and Marvin ... Let's build!

[2021-07-16 16:11] jhammond2012 commented on #87
Hi @radicleart can you please comment the m1 complete again?

[2021-07-16 16:17] ogasky commented on #127
acknowledged and thank you.

[2021-07-16 18:38] radicleart commented on #87
!m1_complete

[2021-07-19 10:35] TobyLewisNovum commented on #138
Hi @RaffiSapire, I'm trying to submit the details via the link posted above but the page hangs indefinitely and the Chrome console says that an API call fails ( I assume it is functional to the grant submission). Please help

[2021-07-19 17:17] cecilpang opened #171 "Oracle for Machine Learning Models"
Project proposal from Open Art Source

**Background**
It is very common today for apps to have machine learning components. In fact most newly developed apps have some forms of artificial intelligence built in. The same cannot be said for Dapps, mainly because machine learning today is mostly centralized. There is no natural and easy way to include a machine learning model as part of a smart contr

[2021-07-19 22:48] pseudozach opened #172 "Stacks - Lightning Network Bridge"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?
* This grant application aims to provide a 2-way non-custodial bridge between Stacks chain and Lightning Network.
* This will increase liquidity on both sides, allow Stacks users to pay any Lightning Network invoice with STX by enabling LN app developers to integrate this service's API. Simila

[2021-07-20 14:34] RaffiSapire commented on #138
Hi @TobyLewisNovum please DM me at RSAP and 2n10se#5020. @jhammond2012 , 2n10se#5020, is building the app and can help fix.

[2021-07-20 14:35] RaffiSapire commented on #167
Hi @Filmaluco - wanted to check to see if you were able to fill out the form?

[2021-07-20 15:06] Filmaluco commented on #167
@RaffiSapire Yes we filled the form and already talked with Alex Grabe, we are now waiting for the contract/ Docusign agreement.

[2021-07-20 15:35] TobyLewisNovum commented on #138
Fab! Sorry for being slow but I don't know what RSAP is and I cannot find the username 2n10se#5020 on discord. Our developer @albydeca has also contacted @jennymith about this problem. Alternatively if the app will take some time to fix we can go another route

[2021-07-20 16:08] kjchiang3 opened #173 "Quick and easy token creation, without coding - Lucidefi"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

There is a lack of an easy way to publish Tokens on the Stacks ecosystem, whether it is for independent contributors or teams part of the Stacks Accelerator Cohorts. By creating a tool that helps users quickly achieve publishing tokens, we can accelerate the growth and attractiveness of the S

[2021-07-20 17:13] jhammond2012 commented on #138
Hi @TobyLewisNovum What is your discord username?

[2021-07-20 21:01] jennymith commented on #173
Thanks for submitting this application! We think this is an interesting proposal that definitely addresses current community needs, but also acknowledge that building a DEX + token generator seems fairly ambitious. We have some questions regarding the following:

- Amount of work completed for DEX/DEX UI so far
- Ability to list tokens on other DEXes (interoperability)
- Scope of smart contracts n

[2021-07-20 21:34] jennymith commented on #171
We’re excited about this proposal and are generally leaning toward approval. Before we do that, could you please submit a quick video, presentation, or panel of user stories that walk us through what a developer would be able to do with this tool at the end of each milestone? We appreciate that machine learning models are very complex so we’d just like to gain a more detailed understanding of this

[2021-07-20 21:45] RaffiSapire commented on #169
@Mate-Swap

We talked at length about this grant and have more questions, we felt there wasn't enough information on the previous response.
- Scope. Currently, only M1 is the deliverable, and we suggest first make mvp on solidity and clarity side, versus getting to an audited solidity contract first. We think there are other, audited contracts you can use, and we would also suggest getting the out

[2021-07-20 21:45] RaffiSapire commented on #172
Hi @pseudozach! We love this idea and would like to better understand the kind of support you’ll need to successfully complete this. Can you please schedule a quick call with Marvin to https://calendly.com/marvin-stacks.

[2021-07-21 07:59] TobyLewisNovum commented on #138
I'm not very active on discord, please liaise with our developer @albydeca (alberto#5463)

[2021-07-21 12:52] albydeca commented on #138
Hi @jhammond2012 nice to meet you :)  happy to be contacted on discord at the username above

[2021-07-21 16:03] jennymith commented on #138
Hi Toby, I've responded to Alberto that Jonathon should be able to help here. Let us know if you continue to run into issues.

[2021-07-21 16:17] jhammond2012 commented on #138
Hi @albydeca I have added you on Discord. When you are free, we can connect and find out what the issue here is.

[2021-07-21 17:30] pseudozach commented on #172
Calendly link shows no available slots, I'll try to reach out to Marvin via Discord and discuss.

[2021-07-22 07:01] Lucidefi-main commented on #173
Hi Jenny,

Following you and Marvin's suggestion(again, love the PoX-Lite idea!) from the earlier meeting, we are taking out the DEX part from this grant application and focusing on the 1-step token creation.

Therefore, the modified scopes/milestones would be as below:

Total grant request : $10,000

Milestone 1: $2,500

    1-step SIP-10 token creation without coding via minimal web interface, w

[2021-07-22 11:27] 314159265359879 commented on #173
Interesting project, do ping me whenever I can help you test UX/UI.

[2021-07-22 23:27] Lucidefi-main commented on #173
Thank you, @314159265359879 ! Will reach out the moment we have it ready.

[2021-07-23 13:48] SmartMirlo commented on #74
Everything is going well. We are progressing as expected. Thank you.

[2021-07-23 14:57] friedger commented on #121
Testnet is running, but we still don't have the possibility to test stacking (https://github.com/blockstack/stacks-blockchain-api/issues/664)

I tested the bitcoin clarity library on mainnet with BTC-NFT catamaran swap: https://twitter.com/fmdroid/status/1418533936498724874

[2021-07-23 15:13] friedger commented on #173
M2 is about switching testnet endpoints to mainnet endpoints only?

What is a PoX-Lite token, like city coin? Could you please clarify the required parameters?

[2021-07-23 22:44] Lucidefi-main commented on #173
Hello @friedger ! Thank you for helping us clarify our grant proposal with your excellent question.

M2 is about switching testnet endpoints to mainnet endpoints only?

    - We are going to test the dynamics involving microblock for M2 and adjust the relevant code if necessary, since not every leader would support microblock as of now.

What is a PoX-Lite token, like city coin? Could you please c

[2021-07-24 05:02] fiftyeightandeight commented on #143
@RaffiSapire we are pleased to update that M1 is now completed.

- Class Diagram: https://docs.alexgo.io/protocol/diagrams/class-diagram
- Use Case: https://docs.alexgo.io/protocol/diagrams/protocol-use-case

!m1_complete

[2021-07-25 11:00] JlyNb opened #174 "Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-07-25 15:15] Pravica-Inc commented on #134
Milestones names and timing has been updated after grant approval ... working in M1 now

[2021-07-26 13:59] fiftyeightandeight commented on #143
@RaffiSapire we are pleased to update that M2 is now completed.

- Platform architecture: https://docs.alexgo.io (excluding https://docs.alexgo.io/whitepaper/)
- Yield Token AMM whitepaper: https://docs.alexgo.io/whitepaper/automated-market-making-of-alex

!m2_complete

[2021-07-26 14:33] fiftyeightandeight commented on #143
@RaffiSapire for M3, could we please consider revising the deliverables to a set of client-side javascript APIs that developers on Stacks can use to integrate/develop on ALEX? One can of course connect to contracts directly using stacks.js, but higher-level APIs that abstract away most (if not all) the plumbing associated with stacks.js will be useful/meaningful to the community (more so than the

[2021-07-26 20:43] RaffiSapire commented on #171
@cecilpang Hi there! Wanted to make sure you saw Jennys comment above. our next committee meeting is tomorrow.

[2021-07-26 20:47] RaffiSapire commented on #174
Hi @JlyNb for us to be able to discuss this grant, we will need substantially more information. Could you take a look at some of the other grants in this repo (on the issues tab), and the criteria, and resubmit when you are ready?

[2021-07-26 20:47] #174 closed

[2021-07-26 20:49] RaffiSapire commented on #169
Hi @Mate-Swap wanted to circle back as we have our next committee tomorrow and would love to help you get this to the finish line. We also have an open office hours tomorrow if you're able to attend?

[2021-07-26 20:50] #127 closed

[2021-07-26 21:10] #39 closed

[2021-07-26 21:13] RaffiSapire commented on #69
Hi @hozzjss , wanted to check and see how it all went down, and if you could share the contract and front end if you have completed it, or if you haven't would love an update!

[2021-07-26 21:14] RaffiSapire commented on #80
Hi @TeamBandL wanted to check in and see where ya'll are at, what you've been learning?

[2021-07-26 21:15] cecilpang commented on #171
Additional info on the milestones, per @jennymith 's request. And thank @RaffiSapire for the reminder.

M1: a bare-bone, end to end system of a smart contract invoking a ML model via Chainlink

M2: a sample smart contract, ML model and Dapp to showcase the bare-bone system.

At the end of M1 and M2, a developer will be able to build and run a ML Oracle instance on a Linux server and deploy a Machi

[2021-07-26 21:15] RaffiSapire commented on #21
Hi @fintechrecruiters ! How are you? Wanted to check in and see if you had any updates to share?

[2021-07-26 21:16] RaffiSapire commented on #27
Hi @joberding , wanted to check in and see how this was going, if you could share the output deliverable if you're completed here? Anything we can support you on? thank you!

[2021-07-26 21:18] RaffiSapire commented on #65
Hi @falkonprods how are you? Wanted to check in and hear the latest. Anything we can support you on?

[2021-07-26 21:18] cuevasm commented on #80
Hey Raffi! Mea culpa on the slow progress here, I blocked them on some key stuff, and then they are now sprinting with venues being open post-Covid. I'm in touch with the team and everyone is still super committed to this, but we've not got anything tangible out the door at this point. Want to be clear it's my fault and send apologies to the community on that.

[2021-07-26 21:19] falkonprods commented on #65
Hi  @RaffiSapire - we are  plugging along more slowly than I had hoped...but still plugging  along.

[2021-07-27 09:11] Mate-Swap commented on #169
Dear @RaffiSapire ,
About your previous questions,
- Scope: No problem, we can follow this path if the foundation considers it better.
-About the locking up of the tokens, on the first iteration MVP we will be managing the locking contracts so to force the SIP minting/burning mirroring and allocation into the respective user's wallet. A representative from Reserve, Arkadiko and the foundation will

[2021-07-27 13:46] jhammond2012 commented on #143
Hi @fiftyeightandeight can you please comment on the milestone complete command again? Thanks!

[2021-07-27 15:06] bamanczak opened #175 "Personal Knowledge Garden"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

There are plenty of tools on the web to allow you to create your personal knowledge garden. Among the popular ones you might find roam research, Workflowy, Evernote or recently launched Kosmik… but all of them require you to hand over your data to a private company. If you don't trust those v

[2021-07-27 18:47] Joachim16 commented on #61
many thx to Stacks Foundation for this grant and the trust in the Jolocom team, and also a special thank you for all the interest, support and vital exchange from and with the Stacks community. We hope that many builders and projects find this work useful to apply Self-Sovereign-Identity (SSI) within their  initiatives. We at Jolocom believe in the cross pollination in between decentralized projec

[2021-07-27 19:57] HariniRajan397 commented on #139
Dear Team, A couple of updates. Please note that we are wrapping up M1 today. We have created the rough design analysis doc  that includes finalized scope details ,proposed design changes and open questions which we've submitted to the UX team for approval here https://github.com/blockstack/stacks-wallet-web/issues/1145#issuecomment-887786359.
We intend to validate the proposed changes and address

[2021-07-27 22:43] RaffiSapire commented on #175
Hi @bamanczak we discussed the grant at length today and unfortunately it's a pass as it is today. Reason being, we don’t think theres a user base here. We would be happy to reconsider a version of this application that demonstrates demand from the community (maybe by usage, and consistent usage and engagement over time). Thank you for taking time to apply.

[2021-07-27 22:43] #175 closed

[2021-07-27 22:45] RaffiSapire commented on #173
Hi @kjchiang3 thank you for clarifying. We are excited to see this built and would like to approve it. Could you share more details about each milestone, how much time you think it will take? Can you clarify if the DEX is future work? What does going from testnet to main net require? It’s not clear what needs to be done forward looking.

[2021-07-27 22:46] RaffiSapire commented on #143
Hi @fiftyeightandeight we reviewed and approve M1 and M2 being complete. Excited to see this to the finish line. Could you kindly please clarify what has and has not been delivered? The new M3 seems like more work than the original. Could we keep the prototype on top of the javascript API and  bump up the amount based on what you think is fair? Thanks and congrats!!

[2021-07-27 22:49] friedger commented on #121
I hit a road blocker. I am missing a way in clarity to find out and verify during which reward cycle a bitcoin transaction happened.

This is needed for the payout of rewards. As it looks to me, that a solution can only happen with Stacks 2.1 (see https://github.com/blockstack/stacks-blockchain/issues/2784)

[2021-07-27 23:28] Lucidefi-main commented on #173
Hi @RaffiSapire !

    Could you share more details about each milestone,

Milestone 1&2

Frontend, backend, and script to allow user to create their own SIP-10 token and publish on Stacks blockchain

Input field could be :
- Token name
- Symbol
- Decimals

Result :
published SIP-10 token contract on Stacks blockchain

Milestone 3&4

Frontend, backend, and script to allow user to create their own

[2021-07-28 00:09] jennymith commented on #61
Hi @Joachim16, it was so wonderful working with you and the Jolocom team! The work that you all have done on SSI for Stacks will undoubtedly advance our mission of delivering a user-owned internet. We're looking forward to a long and fruitul partnership :).

When you or @Exulansis get a chance, could you please post a quick summary (bullet points are fine) here of what has been completed/what comm

[2021-07-28 00:42] fiftyeightandeight commented on #143
!m1_complete
!m2_complete

[2021-07-28 00:43] fiftyeightandeight commented on #143
!m1_complete

[2021-07-28 00:49] fintechrecruiters commented on #21
Hi Raffi,

I’m having issues finding a Data Engineer who will work with me on
completing the data analytics and data streaming portion of the project.

I left an update in GitHub 3 weeks ago as a request to halt funding for M3
and M4 because I didn’t know the difficulty of the data streaming portion
of this project. It looks like the bot picked up the update as a funding
submission.

Here’s the up

[2021-07-28 10:58] bamanczak commented on #175
Hi @RaffiSapire!
Thank you for your review. This is sad news as I really hoped to develop this project with your support as I believe it would have a very wide variety of use cases.

However in this case I understand that the risk that I also highlighted in the proposal is simply too high.

I hope we still will have a chance to develop something together with stacks 🙇

[2021-07-29 20:41] RaffiSapire opened #176 "Pakistan July Chapter Grant 2021"

[2021-07-29 20:41] RaffiSapire opened #177 "China Chapter Grant July 2021"

[2021-07-29 20:42] RaffiSapire opened #178 "Korea Chapter Grant July 2021"

[2021-07-29 20:42] RaffiSapire opened #179 "India Chapter Grant July 2021"

[2021-07-29 20:43] RaffiSapire opened #180 "Turkey Chapter Grant July 2021"

[2021-07-29 22:52] friedger commented on #121
!m3_complete

With the current blocker, here is a review from the scope and what I have achieved.

## Contracts

There are two auditing contracts in https://github.com/friedger/clarity-friedger-pool/tree/main/contracts:
* friedger-pool-audit.clar
* friedger-pool-wrew.clar
The first contract verifies rewards txs and reports the value of the rewards together with the price received from an oracle.
T

[2021-07-30 00:02] jhammond2012 opened #181 "TEST1 - Please Ignore - Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-07-30 00:06] #181 closed

[2021-07-30 09:15] TobyLewisNovum commented on #138
Hi all, thanks for helping us conclude the grant award process !

In the meantime our development team has been busy laying the foundations of the deliverable. I would like to share this early mockup with you guys, which lays out what we believe could be the most salient metrics to show to the users on the website’s landing page. We have placed the various data metrics that we wish to show into th

[2021-07-30 13:02] friedger commented on #121
!m3_complete

[2021-07-30 13:58] Filmaluco commented on #167
@RaffiSapire we are still waiting for the contract/ Docusign agreement.

"Phase" 1:
[Migrate to the new API PR](https://github.com/blockstack/blockstack-android/pull/191)
[Ability to generate both Mainnet and Testnet STX addresses](https://github.com/blockstack/blockstack-android/pull/190)

We understand that a few changes might still be needed, but we are now working on Phase 2

We have already i

[2021-07-30 16:10] radicleart commented on #87
!m2_complete

[2021-07-31 05:12] friedger commented on #121
The first tx is not listed on https://pool.friedger.de/members (https://github.com/friedger/stacking)
![Screenshot from 2021-07-30 22-37-23](https://user-images.githubusercontent.com/1449049/127729415-a8172831-b4ec-4380-b433-47491297ba51.png)

[2021-07-31 22:15] JODIN1727 opened #182 "Feedback:"
# Grants Program Feedback

## General Feedback

Please share your feedback with us, we would love to know more about your experience!

## Feature Request

What feature would you like to see? Please describe in detail.

## Technical Issues

If you are having issues using the [grants application platform](https://grants.stacks.org), please provide the information below.

### General Info

- Operatin

[2021-07-31 22:28] JODIN1727 commented on #182
We are working on this

[2021-08-01 19:12] MicahDevs opened #183 "Stick - Accredited seed funding SaaS."
We are Stick;

We are a cross-chained seed funding market running on USDC rails and would like funding to add Stacks smart contract integrations to our platform so founders have another option to grow Stacks total project reach.

This grant will fund development of smart contracts which integrate Stacks into our platform.

We believe a general business contract will cost around $7,000 to complete.

[2021-08-03 01:26] Lucidefi-main commented on #173
Hello everyone,

I've been trying to come up with a short and informative description of what we plan to achieve in the end, and Mitchell Cuevas  gave me the perfect analogy this morning - "Kickstarter on Stacks".
I think one of the key factors behind the success of Ethereum as a Defi platform was the ease of ERC20 token generation and listing on Uniswap, and almost all of the Stacks community mem

[2021-08-03 14:17] RaffiSapire commented on #175
Hi @bamanczak - absolutely. Would be happy to brainstorm other ideas with you during either of our open office hours this week or next. Please feel free to join!

[2021-08-03 14:25] RaffiSapire commented on #183
Hi @MicahDevs - can you please take a look at some of the other grant issues and break down your deliverables into 2-4 milestones, with clear features/deliverables at each step?

I read through your deck, but it would be helpful if you succinctly explain the problem you're solving, why existing solutions don't make sense, and what people will be able to do with Stick, using the grant framework we

[2021-08-03 14:26] #182 closed

[2021-08-03 15:35] Mate-Swap commented on #169
This proposal has been updated into a Research project

[2021-08-03 21:10] RaffiSapire commented on #169
This is approved! There is a lot of community interest in seeing this happen, and from our experience, one of the best formats for sharing your research would be open community calls, done on bi-monthly basis. I've seen this done well when you have a few big questions you are framing to answer on a slide that you can present, for example, or written in github if you prefer, and can talk through or

[2021-08-03 23:01] MicahDevs commented on #183
**Background**
_What problems do you aim to solve? How does it serve the mission of a user owned internet?_

Grant options are well covered within the space but we are now witnessing increased regulatory oversight over the funding of tokenized product. Due to scope and scale, many will simply not be ideal for grant funded development alone and may require added support. This added support area is

[2021-08-04 08:29] radicleart commented on #87
!m3_complete

[2021-08-04 08:32] radicleart commented on #87
@RaffiSapire just for completeness the services described in milestones 2 and 3 can be seen on our staging servers...
 - https://ruma.risidio.com/
 - https://prom.risidio.com/

I am currently working on the Stacks Mate grant and will post progress on that grant very soon.

[2021-08-04 15:18] cecilpang commented on #171
Hi @RaffiSapire ,
The DocuSign contract has my name as the "Recipient" rather than the company name "Open Art Source, LLC". I cannot modify that field. Can you help? Thank you.

[2021-08-05 11:52] fiftyeightandeight commented on #143
@RaffiSapire we reviewed carefully the current agreed deliverable of M3 and, while they are completed, we do not feel this actually has much value to the Stacks community (partly because we ourselves are going through some significant re-design of UX/UI). Therefore, we would be grateful if the Foundation could consider the following deliverable instead.

### M3
**Deliverable**: a suite of smart co

[2021-08-05 16:35] Mate-Swap commented on #169
@RaffiSapire  Sounds great, thanks! we will get on with that.

[2021-08-06 13:53] RaffiSapire commented on #171
Hi, Please ping @jhammond2012  at 2n10se#5020 on discord to help.

[2021-08-06 13:57] RaffiSapire commented on #139
When you are done with M1 type !M1_Complete

[2021-08-06 14:37] HariniRajan397 commented on #139
Sure, @RaffiSapire! On Wednesday, we'll evaluate the design analysis with the UX team. I'll mark M1 as finished once that's done. I'll let you know as soon as I have further information. Thank you.

[2021-08-06 15:04] jhammond2012 opened #184 "TEST Please Ignore This - 1"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-08-06 15:25] #184 closed

[2021-08-08 09:09] fiftyeightandeight commented on #143
@RaffiSapire we would like the Foundation to consider adding the following as an additional milestone (i.e. M6).

**M6**: [ALEX Launchpad](https://github.com/alexgo-io/alex-v1/issues/79)

Would you please review and let us know? Thank you.

[2021-08-10 04:18] pseudozach commented on #172
Hi,
stxswap clarity contract is deployed to testnet: https://explorer.stacks.co/txid/0x1e834245f911c063aedd9eb96f218b70b803646c8e0adbc8e65b80063d39e813?chain=testnet

All basic functions like lock/claim/refund are tested and working as intended.
scaffolding code, including v1 of contracts are pushed to github: https://github.com/pseudozach/lnstxbridge

This concludes M1, I'll continue on M2.
Thank

[2021-08-10 10:55] Pravica-Inc commented on #134
!m1_complete

https://github.com/PravicaInc/wise-js
https://github.com/PravicaInc/Wise

[2021-08-10 19:49] pstan26 commented on #173
This is dope

[2021-08-10 22:39] asifshiraz opened #185 "Rupee Stable Coin - Stacks Chain Representation"
**Background**
============
What problems do you aim to solve? How does it serve the mission of a user owned internet?

Crypto on-ramp bridges are available in jurisdictions that are confident of their regulatory practices, but some third-world countries, specifically Pakistan, are caught in a decision paralysis on how to deal with crypto, with impulsive bans and mixed signals from the regulators.

[2021-08-11 08:08] philipdesmedt commented on #172
@pseudozach nice work! some of the comments on the testnet contract still refer to Eth, I guess that should be STX?

Question.. could you extend this for SIP10 tokens in general? Would be great to have LN invoices paid with Arkadiko's stablecoin USDA

[2021-08-11 18:01] pseudozach commented on #172
yes, I've noticed those after I deployed :), v2 will not have those references and I've also found a few potential improvements so I'll deploy v2 and update here.

The concept is certainly adaptable to SIP10 token exchange but SIP10 - LN swap contract would need to be developed, and backend/frontend would need work as well. maybe I can add that as M4, @RaffiSapire would that be ok?

[2021-08-12 11:11] tycho1212 commented on #185
Interesting project! I have some questions which the grant committee might also have

1. I'd be curious to learn if there is validation for demand for a Pakistani Rupee Stablecoin (data, surveys of traders, etc)? I'm under the impression that most people in crypto in countries like Pakistan prefer to use USD-pegged stablecoins because of the volatility of local currencies

2. You mention this is a

[2021-08-13 07:47] radicleart commented on #137
Hi @RaffiSapire

Progress on this grant can be found here - (stacksmate)[https://stacksmate.com]

Very happy to report we are now in test phase and the milestones, 1 through 8 are complete with just the following work outstanding.

1. Testing and roll out the payment options will happen sequentially in the following order...

a. Ethereum
b. Square Pay for fiat card payment
c. Opennode Bitcoin / Li

[2021-08-13 07:58] markmhx commented on #137
Exciting! I just went to try this but got this error:

![image](https://user-images.githubusercontent.com/28991/129324243-a2488c19-aa71-40f2-8be1-04fc1e725adb.png)

[2021-08-13 08:04] radicleart commented on #137
Hi Mark yes not quite live so I haven't pushed any stx to the wallet yet!
Will keep you posted..

On Fri, 13 Aug 2021, 08:58 Mark Hendrickson, ***@***.***>
wrote:

[2021-08-13 20:07] grigerny commented on #140
An update on progress:
- ability to select a royalty percentage and NFT is distributed accordingly.

Right now we are showing 300 because clarity doesn’t allow for decimals but this will be improved.

Demo:
https://youtu.be/quKL2YdoWmk

[2021-08-14 12:40] fiftyeightandeight opened #186 "ALEX - Launchpad, helping founders fairly distribute tokens with minimal capital investments"
### The Problem
Many projects want to distribute tokens in a fair way among the community, with the tokens remaining in the hands of those that are invested in the project for the long term, instead of speculators looking for quick profits. At the same time, the projects need their projects to build deep liquidity with efficient price discovery of their tokens, without requiring heavy capital inve

[2021-08-15 18:35] RaffiSapire commented on #183
Hi @MicahDevs we discussed your grant at length, and unfortunately it is a pass for us.

A standard like the ERC1155 does not exist on the Stacks blockchain yet. The other work laid out in the  grant description seems mostly to be concerned about proprietary work, which wouldn’t benefit the ecosystem as a whole, and all our grants require that grantees make their work open source. Thank you for ta

[2021-08-15 18:35] #183 closed

[2021-08-15 18:36] RaffiSapire commented on #134
Thanks! We are disbursing your payment for M2 this week.

[2021-08-15 20:35] asifshiraz commented on #185
Thanks @tycho1212 for your questions.

1. Validation for demand is just observational, based on my own experience. Crypto industry is quite new, and a lot of educational effort is needed to make people understand how it works, and how they need such building-block components in the ecosystem. There is also general dissatisfaction with the rate of inflation, and people are expected to buy into anyt

[2021-08-16 10:02] SmartMirlo commented on #74
M1_complete

[2021-08-16 19:24] falkonprods commented on #65
@RaffiSapire we are currently working on the 2nd milestone. For the 3rd milestone, we are looking at pivoting. Instead of building out a mechanism for posting projects and releasing funds via milestones we are looking at building a governance/voting mechanism.

As I have spoken with DAOs over the last couple of months, I have learned their most pressing need is to _achieve consensus_ on critical g

[2021-08-17 10:42] Filmaluco commented on #167
@RaffiSapire we are still waiting for the contract/ Docusign agreement, is everything alright?

[2021-08-17 11:54] Mate-Swap commented on #169
@RaffiSapire Please find our M1 Draft:
[Crypto Mate - Stablecoin Bridge Research - High level Mockup.pdf](https://github.com/stacksgov/Stacks-Grants/files/6999713/Crypto.Mate.-.Stablecoin.Bridge.Research.-.High.level.Mockup.pdf)
Waiting on your comments,
Best regards

[2021-08-17 21:55] jennymith commented on #143
Hi @fiftyeightandeight, thanks for your proposal! In summary, we would prefer that you stick with the original M3 rather than pursuing the new M3 + M4 & M5. The main reason for this is that we believe a prototype could really help onboard users in the Stacks community not only to the ALEX platform, but to Stacks/Bitcoin DeFi in general. While a suite of smart contracts for developers could be help

[2021-08-17 22:29] whoabuddy commented on #173
Would love to touch base with the Lucidefi team, I'm in the Stacks discord - `whoabuddy.btc#1932`

[2021-08-17 22:30] jennymith commented on #185
Hi @asifshiraz, thanks for submitting this proposal! We think this is an idea that could gain traction within the community one day, but as it currently stands, we are not comfortable approving this application given the high level of regulatory uncertainty surrounding it. In order to move forward with reviewing this application, we would need much more information on the legal, technical, and pro

[2021-08-18 06:10] fiftyeightandeight commented on #143
Hi @jennymith ,

We are going through some significant re-design of the UX/UI prototype which depends on the final delivery of new milestones M3, M4 and M5. The reason why we said it, as it stood, might not have much value to the Stacks community was because we realised the prototype we completed (as the deliverable for M3 as originally agreed) would be subject to many changes.
Having said that, w

[2021-08-19 13:32] radicleart commented on #137
@RaffiSapire , @markmhx - there is now some STX in the StacksMate wallet.

We are still in beta test - and reaching out to the community / Syvita guild etc for help with the testing - really love to know your thoughts / suggestions for improvements?

Mike

[2021-08-19 14:42] fiftyeightandeight commented on #186
@jennymith I am responding to the questions you asked [here](https://github.com/alexgo-io/alex-v1/issues/79).

Yes, there are plans to an accompanying UI/platform that users can take advantage of upon launch. We expect to have v1 of the UI ready by Sep 15th. We are going to take the core pieces from similar launchpads in other ecosystems, and model our vs1 of the UI based on these, before iteratin

[2021-08-19 20:43] asifshiraz commented on #185
Thanks Jenny. That makes perfect sense. There is definitely uncertainty around such a setup. I will keep you apprised of our progress. We can close the request.

[2021-08-20 02:00] hozzjss commented on #69
@RaffiSapire sorry for the late reply has been working on so many things the past few months in stacks governance, but for the contract i'm comfortable with it so far, you can check it out here, it needs some testing and i didn't really have much time to do, but I have done a full cycle test for it on mocknet and seemed to work fine

https://github.com/hozzjss/cooperative-stacking/blob/master/cont

[2021-08-20 02:02] hozzjss commented on #69
Also this reply from jenny https://github.com/stacksgov/Stacks-Grants/issues/120#issuecomment-852435390

[2021-08-20 06:49] MicahDevs commented on #183
I'll answer this in three parts; one, obviously we would implement a fungible standard if no multi-use standard would apply, that is common sense; two, the contract also would obviously be open sourced as it is running on a blockchain - if you expect us to open source our CMS, etc. to suit you, excuse me?, and three, when you see regulation settling in, do think about the ecosystem benefit. The hu

[2021-08-20 22:17] pseudozach commented on #172
I'm happy to share a working demo of a successful submarine swap going from STX (mocknet) -> Bitcoin on Lightning Network (regtest): https://youtu.be/2GkRO_KLw4k

Work on M2 and M3 is ongoing in parallel, although lots of things to cover until it's ready for production, feels good to have a working demo of a sample scenario :)

[2021-08-23 07:51] philipdesmedt commented on #172
watched the demo, looks great @pseudozach!

[2021-08-24 11:15] #185 closed

[2021-08-24 15:10] RaffiSapire commented on #173
@kjchiang3 please complete the onboarding so you can receive docusign.

[2021-08-24 15:11] RaffiSapire commented on #167
@Filmaluco the docusign was sent but never signed, we just resent it. If you have issues please find me on discord to get a response more quickly! @RSAP

[2021-08-24 21:40] MarvinJanssen commented on #172
Hi Zach, I'm leaving some comments and questions on behalf of the grant committee:

1. Why are you submitting all numbers as buffers and then converting them in Clarity? Is there a specific reason why you do not prepare the right CV types in the client? It would lower runtime cost for the contract.
2. `claimAddress` does not actually seem to be used. In fact, there is a vulnerability in `refundStx

[2021-08-24 22:31] pseudozach commented on #172
Thanks for the feedback Marvin. Please find my answers inline.

* This is because submarine swaps work by generating a hash of the provided inputs which needs to be unique and calculate to something noone else can guess, in clarity I was able to accomplish this by using keccak256 which accepts inputs of `same type`. I went with buffer and ignored claimAddress/refundAddress which will be removed in

[2021-08-25 05:28] friedger commented on #121
Update:
* all possible BTC reward transactions have been verified on the stacks chain.
* payouts for cycle #14 can now be claimed by users.

Full report here: https://app.sigle.io/friedger.id/MA3mBt0f-fwK2GxxG4JWY

I am still continuing to educate users about the impact.

[2021-08-25 08:48] Lucidefi-main commented on #173
@RaffiSapire Hello. We need to use my account to finalize the onboarding. I have tried multiple times via link provided above, but could not proceed after step 2(just stuck, tried different browsers and didn't work), and had reported to Jenny Mith via email on August 4th. When I tried the link again just now, it no longer works. Could you please tell me who I need to contact to resolve this? Thank

[2021-08-25 11:46] markmhx commented on #167
@friedger @yknl I'm assigning you two as reviewers of the above PRs in the hope you can help get them to approval, then I'll help merge them in 🙏

[2021-08-25 14:21] sdsantos commented on #167
@RaffiSapire we got the contract now, and it has been signed.

[2021-08-25 15:20] RaffiSapire commented on #121
Thanks @friedger we reviewed M3, great work! will disburse for M4 today.

[2021-08-25 15:24] RaffiSapire commented on #186
Hi @fiftyeightandeight, we are wary of playing the foundation playing the role of stamp of approval. Rather, we support and fund projects that the community has demonstrated they want or need.

At this point, it is a pass. We would like to support and fund this grant in the near future. For us to get conviction here, we’d want to see indicators of community demand before a grant. We suggest you re

[2021-08-25 15:24] #186 closed

[2021-08-25 15:30] RaffiSapire commented on #143
Hi @fiftyeightandeight thank you for your response. We discussed this at length for a second time with your responses as context, and we are going to stick with the originally approved Milestone 3, which you have completed, and we will disburse that capital today. We are going to pass on funding the additional proposed milestones. We are open to you submitting a new proposal, we'd suggest you revi

[2021-08-25 15:36] RaffiSapire commented on #169
@Mate-Swap Hi there. We've reviewed the mockup, but feel that the technical context is missing. There are a lot of community members interested in this research and having key findings around this topic are very valuable. Sharing back a mockup misses some of what you have learned. As this is a research project, we are more interested in the process and results of the research. What we'd like to se

[2021-08-30 12:45] aulneau commented on #88
Hey Jenny! Thanks for checking in -- just wanted to reply to let you know I'll update this thread a bit later this week with progress!

[2021-08-30 14:44] jhammond2012 opened #187 "TEST, Please Ignore"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-08-30 15:15] Mate-Swap commented on #169
Dear @RaffiSapire

Problem Statement: Lack of cross chains value propositions between different native stablecoins, their communities, and DeFi ecosystems on emerging Blockchain layers like Stacks. RSV has one of the biggest communities in the LATAM region and given an option for the easy transition between blockchains there will be an interest to have an access to DeFi built on Stacks. We are loo

[2021-08-31 09:49] Filmaluco commented on #167
**Stacks Circles Android app is now officially launched!**
https://circles.bloco.io/

Apps/Websites using Stacks Connect or the Android Blockstack SDK v0.6.4 or higher, should be able to make use of Circles app to authenticate on Android devices without any problems. However there are some prerequisites at the project repo.
Please help us, install the app, test with your favourite app and let us k

[2021-08-31 15:47] RaffiSapire commented on #138
Hi there @anovum - would pose this to the community for feedback. And part of the milestone deliverable is conducting user testing. Through this process, i'd imagine that you get some feedback on this. As part of your M1 deliverable, would like to see the results of the user testing, the questions you asked, and what you changed as a result of that.

In addition, how would you plan to share back t

[2021-08-31 15:49] RaffiSapire commented on #173
Hey @jhammond2012 can you please help @kjchiang3 ?

[2021-08-31 15:50] kjchiang3 commented on #173
@jhammond2012 can we transfer the onboarding process to @Lucidefi-main ?

[2021-08-31 15:59] jennymith commented on #171
Just adding a note here that this has been resolved. Thanks and looking forward to seeing your progress on this @cecilpang!

[2021-08-31 16:08] cecilpang commented on #171
@jennymith
On it!

[2021-08-31 16:10] jennymith commented on #74
Hi @SmartMirlo, can you share the doc with research, analysis, and results here so that other community members can check it out? Thank you!

[2021-08-31 16:12] jennymith commented on #67
Hey @pseudozach would you say this grant is essentially done or is there more review needed here?

[2021-08-31 16:13] #53 closed

[2021-08-31 16:14] jennymith commented on #52
Hey @dantrevino just double checking that all work for this grant has been completed. Let us know if there's anything else you need support on--thanks!

[2021-08-31 17:35] pseudozach commented on #67
Hi @jennymith, this grant is completed. Everything is on mainnet and code is on github.

[2021-08-31 17:38] jennymith commented on #167
Amazing work @Filmaluco! So excited to review this with the Grant committee today. Will reach out to you about sharing this news more widely with the community soon :).

[2021-09-01 01:55] RaffiSapire commented on #169
Thanks @Mate-Swap. This is a good update to share with folks. Would you be able to do a research call with the community sometime this week to share your findings? This context you've shared, coupled with a call discussing your findings with the community, will unlock the next milestone 2. You could submit an event here: https://stacks.org/#events, share it on discord, and we can help let folks kn

[2021-09-01 01:59] RaffiSapire commented on #167
Thanks @Filmaluco, this is awesome! Would love to feature at the next demo day.

If there is anything else you want to expand on this, we're really excited to continue to support you in future grants.

[2021-09-01 09:04] SmartMirlo commented on #74
Hi @jennymith , sorry for the delay.
Here is the document:
[Smartists_M1_Development.pdf](https://github.com/stacksgov/Stacks-Grants/files/7089770/Smartists_M1_Development.pdf)

[2021-09-01 12:17] albydeca commented on #138
Hi @RaffiSapire. Since this call for feedback, we have been busy speaking to various stakeholders and prospective stakeholders. We showed them the PDF mockup together with the plan of action and always made sure to ask appropriate leading questions to steer the conversation in the right direction. These questions were typically:

- Where does crypto fit into your daily life?
- Are you a member of

[2021-09-02 17:02] SmartMirlo commented on #74
Also sharing:
https://github.com/FhilF/smartists-smart-contract-dev/releases/tag/M1-v1

[2021-09-02 17:08] grigerny commented on #140
!m1_complete

[2021-09-03 05:25] RaffiSapire commented on #87
Congratulations on completing this! Would love for you to present at the next demo day if you're up for it.

[2021-09-03 05:36] RaffiSapire opened #188 "Pakistan Chapter Grant August 2021"

[2021-09-03 05:37] RaffiSapire opened #189 "Turkey Chapter Grant August 2021"

[2021-09-03 05:37] RaffiSapire opened #190 "Korea Chapter Grant August 2021"

[2021-09-03 05:38] RaffiSapire opened #191 "China Chapter Grant August 2021"

[2021-09-03 06:25] OmurCataltepe opened #192 "Turkey Chapter Grant August 2021"

[2021-09-03 09:20] SmartMirlo commented on #74
M2_complete

[2021-09-03 13:23] friedger commented on #121
Until today 0.5% of the reserved wrapped rewards have been claimed by 12 users. Considering that there is no use case for the wrapped rewards so far and that users with hardware wallets can't claim the tokens, we could at least show that it works.

As the final part of M4, I published an article about using the wrapped rewards for accounting and for other services like catamaranswaps.org:

https:/

[2021-09-03 13:24] friedger commented on #121
!m4_complete

[2021-09-03 14:59] fiftyeightandeight opened #193 "ALEX - Launchpad, helping founders fairly distribute tokens with minimal capital investments"
### The Problem
Many projects want to distribute tokens in a fair way among the community, with the tokens remaining in the hands of those that are invested in the project for the long term, instead of speculators looking for quick profits. At the same time, the projects need their projects to build deep liquidity with efficient price discovery of their tokens, without requiring heavy capital inve

[2021-09-03 16:24] fiftyeightandeight opened #194 "ALEX - research on innovative lending protocol that eliminates liquidation risk"
## Background
Protocols for loanable funds (PLF) enable borrowing and lending activities. Examples PLFs are Compound and Aave on Ethereum. The lender provides a token in need and earns interest in return. The borrower deposits collateral and gets access to a preferred asset. The borrower must pay back the borrowed asset in due time. Protocols enabling this borrowing and lending functionality are i

[2021-09-03 16:34] fiftyeightandeight opened #195 "ALEX - a higher-level library that allows front-end developers to interact with contracts deployed at ALEX"
## Background
`stacks.js` libraries provide everything you need to work with the Stacks blockchain. While it has rich feature sets that make front-end development on Stacks easy, the growth of Stacks ecosystem that builds upon `stacks.js` increases the complexity faced by developers looking to integrate apps available on Stacks ecosystem into their own apps.

## Project Overview
`alex.js` is a hig

[2021-09-05 13:51] az-journal commented on #169
@RaffiSapire , hi there. thank you for the inputs, we have scheduled a research call  to take place on discord hangout for tomorrow 15:00 UTC and submitted it as well on stacks events(https://events.time.ly/vcky8q9/42327034).
@philipdesmedt would be great if you, or somebody from Arkadiko team could join us there as well.

[2021-09-05 15:32] allanjuma opened #196 "Bitsoko"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

Decentralized services for micro, small and medium enterprises. The merchant will own all the softwares  services that their business depends on to run successfully.

**Project Overview**
What solution are you providing? Who will it serve?
Micro, small and medium sized merchants  will be able

[2021-09-06 15:40] 314159265359879 commented on #169
Thanks for the informative meeting just now on Discord.

[2021-09-07 15:40] dcdigit commented on #137
@radicleart - nice work. a few comments.

I tested it out yesterday, confirmed my BTC tx confirmed and I checked today and I see the wallet did not receive STX - sent you an email about that with all the TXns.

Also, since I've already got a BTC wallet, I sent BTC to stacksmate to get STX, but given that your audience is not going to have a BTC wallet I would suggest you remove all of those crypto

[2021-09-07 19:23] jennymith commented on #169
Hey @az-journal thanks for the update. I have an email thread going with your team as well and have suggested there that we schedule another call for the community since the last one was hosted on such short notice (it was also not added to the community calendar). It was also a national holiday so many community members were unable to join.

I think the feedback you got from yesterday's call was

[2021-09-07 20:57] radicleart commented on #137
@dcdigit - just reimbursed your btc - please see stx tx: 0x64e844d367078606e13cbb7783cd45ceff0d872e91ecd5ad6dfd10eab4493344

I will take your advice and disable Opennode transfers for now.

Thanks, Mike

[2021-09-07 21:18] dcdigit commented on #137
Thank you!
The BTC transfer was certainly useful for testing - I avoided the foreign currency transfer fee I would have gotten hit with if I had to use the CC. But, for complete newbies (your target user base) they would be confused by the crypto options.

[2021-09-07 22:05] dcdigit commented on #137
Another thing... I am not sure if this is the right place to discuss specific issues with the code. But, for now, unless you tell me to stop reporting issues here I'll continue. :-)

So, now the STX transaction is on the chain (thank you for sending it manually) I would expect it to appear in the web app, but I don't see any STX transaction even though I am logged into the stacksmate app on that w

[2021-09-08 07:56] Mate-Swap commented on #169
Dear all, @RaffiSapire @jennymith @
Regarding Monday's event,
Even though there weren’t many participants involved in our first community call, we still however received some valuable feedback from @314159265359879 (Werner), and Taylor the Lead protocol Engineer at Reserve.
Werner shared his inputs regarding the automation of the process, such as Ethereum and Stacks wallet connections, that we wil

[2021-09-08 08:43] philipdesmedt commented on #169
@Mate-Swap Great! I will be there!

[2021-09-08 09:41] radicleart commented on #137
Hi @dcdigit - i sent the 2 stx outside of stacksmate - ie not from the stacksmate wallet so I would' expect to see this in your transactions.

I have pushed a fix for the bitcoin/lightning integration issue you found - I'm in the process of testing this.

On having crypto to stx - I prefer to keep this functionality. In the the early days we are targeting bitcoiners and ethereum digital collectibl

[2021-09-08 14:24] radicleart commented on #137
The BTC and Lightning payment issue was down to the client failing to connect to the websocket. OpenNode was correcly calling the stacks mate web hook on detection of the Bitcoin / Lighting transaction the stacks mate server was pushing the OpenNode response to the websocket but this was not firing in the client.

This has been corrected in the client application and tested independently.

The hom

[2021-09-08 15:01] dcdigit commented on #137
Nice work! Thanks for the quick fix.

I understand about the STX being transferred "outside" the app, but the blockchain has the info at this point... couldn't the app discover that the STX was transferred from the stacks-mate principal into the "logged in" wallet address? Or is there a separate database that is mirroring aspects of the chain?

I also agree with you about the flexible options for

[2021-09-08 18:14] jennymith commented on #193
Hi @fiftyeightandeight, thanks for resubmitting this grant with more information on the community support you've received! It seems that there is clear demand for a platform like this and that it has the potential to really improve token management within the ecosystem (well done 😄).

Before we approve this, we'd just like to clarify the deliverable. Will it just be a smart contract or will you be

[2021-09-08 18:44] jennymith commented on #194
Hi @fiftyeightandeight, thanks for your submission! This is an interesting research area but one that explores a well-known, well-researched problem with no viable solution yet.

**Decision:** While your solution sounds promising, it's not clear from your proposal _how_ this research would advance or improve upon the current discourse around liquidation risk (tagging @jcnelson to share relevant/ex

[2021-09-08 19:01] jennymith commented on #195
Hi @fiftyeightandeight, thanks for resubmitting this milestone as a separate grant! Considering the size of this grant, we have a few questions/points we'd like you to address before we can make a concrete decision.

- Could you please provide a more detailed explanation of the complexity that you plan to abstract away from the smart contracts deployed at ALEX? To be clear, we would not approve th

[2021-09-08 19:11] jennymith commented on #196
Thanks for taking the time to put together this application @allanjuma!

**Decision:** We have decided to pass on this proposal as it is unclear how your grant would utilize Stacks technology or benefit the Stacks community.

**Feedback:** Should you continue to pursue this project, we encourage you to do more technical research on how your services would be built on Stacks. If you are determined

[2021-09-08 19:17] jennymith commented on #169
Thanks for scheduling another call! Can you please [submit the details for your event here](https://www.notion.so/stacksfoundation/Ecosystem-Events-022542e02b6b49a1a3a3549287a52b90) so that it can be published on the actual [community events calendar](https://community.stacks.org/events)? I'll continue to connect with you over email to help you promote the event to get more participants.

[2021-09-08 19:19] jennymith commented on #169
We'll be disbursing M2 soon cc: @jhammond2012.

[2021-09-08 20:36] radicleart commented on #137
Hey @dcdigit

I've seen MoonPay in the accelerator - very impressive project.

Yes its a good idea to have something to trigger the repay of stx via the stacksmate wallet - this could be linked to the original payment and repair the 'hole' - I'll certainly think about this for future development work on stacksmate.

In answer to your more general question about mirroring blockchain data... our gen

[2021-09-09 00:06] #187 closed

[2021-09-09 00:07] jhammond2012 opened #197 "NEW TEST - IGNORE"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-09-09 00:33] fiftyeightandeight commented on #193
Hi @jennymith, thank you for your feedbacks. Yes, the milestone will include a basic, yet, comprehensive, UI that will provide all the relevant/important information to the stakeholders that you mentioned.

[2021-09-09 00:51] fiftyeightandeight commented on #194
Hi @jennymith thank you for the feedbacks and we respect the committee's decision. We will consider your questions/feedbacks and come back if we have any follow-ups.

[2021-09-09 00:51] #194 closed

[2021-09-09 04:45] jennymith commented on #172
Hey @pseudozach, how is progress on M2 and M3 going? Do you have an approximate timeline for when you plan to finish both milestones and is there anything we can do to help you push them over the finish line?

I see that you've proposed adding a 4th milestone above. Would you mind briefly summarizing your idea for M4 in a new comment, just to make it easier for the community to see what your propo

[2021-09-09 04:49] jennymith commented on #140
Hey @RaffiSapire, this grant had only one milestone so it can be marked as complete now cc: @jhammond2012.

[2021-09-09 04:56] jennymith commented on #138
Thank you for this comprehensive update @albydeca. Looks like you've gotten great feedback so far and we can't wait to review your learnings in detail!

In the meantime, I just wanted to clarify your progress on M1. Since you're now skipping testnet and deploying straight to mainnet, have you effectively moved on to M2? Or is there still some work that needs to be done to complete M1?

[2021-09-09 05:09] jennymith commented on #74
Hi @SmartMirlo I believe you have to comment !m2_complete (with the exclamation mark at the beginning).

[2021-09-09 05:20] jennymith commented on #61
@RaffiSapire this grant was completed in late July and paid on August 3rd. Can we update Airtable and any other relevant app to reflect this?

[2021-09-09 05:22] jennymith commented on #67
@RaffiSapire This grant has been completed. Can we please update in Airtable, the apps, etc.?

[2021-09-09 06:35] SmartMirlo commented on #74
!M2_complete

[2021-09-09 09:11] friedger commented on #195
Can [clarigen](https://github.com/obylabs/clarigen) help with some parts of the library? If not, can clarigen be improved to make this library.

[2021-09-09 09:52] fiftyeightandeight commented on #195
@friedger thank you for your suggestion. [clarigen](https://github.com/obylabs/clarigen) is very interesting! Let us review and revert.

[2021-09-09 15:33] pseudozach commented on #172
Hi Jenny, app backend even frontend is mostly finished, for the past 2 weeks I've been struggling to bring up a testnet stacks-node and api because I need to subscribe to contract events for the app to work.
Unfortunately my testnet instance keeps getting stuck and not reaching the chain tip.

{
  "peer_version": 4207599105,
  "pox_consensus": "25453ed5b77b48328a6a44e1e97a18e0b43d8e72",
  "burn_bl

[2021-09-09 15:39] pseudozach commented on #172
Here's my original proposal for M4 to be added to this grant if approved:

### M4
* SoW: Create and deploy a new swap contract that supports SIP10 tokens.
  Update backend server Implementation to support SIP10 tokens and use SIP10swap contract for token swaps.
  Update frontend to fetch rates and enable supported SIP10 tokens. (USDA will be included, instructions will be provided so anyone else c

[2021-09-09 17:08] #196 closed

[2021-09-09 17:45] jhammond2012 commented on #74
Hi @SmartMirlo can you please comment that again? Thanks!

[2021-09-09 18:09] SmartMirlo commented on #74
Hi @jhammond2012 !
What do you want me to comment exactely?
M1 and M2 are complete and were already funded. I shared M1 and M2 links to the repositories, apart from research document for M1.
M3 is pending from both sides.
Do you want me to repeat the 'M2_complete!' or something else?
Sorry for my inexperience.

[2021-09-09 18:15] jhammond2012 commented on #74
Yeah, the m2_complete with ! infront.

[2021-09-09 18:17] SmartMirlo commented on #74
!M2_complete

[2021-09-09 21:21] anovum commented on #138
Hi Jenny, we will still stay in M1 for the moment as we are still finishing the Webpage that will showcase the data we are pulling.

[2021-09-10 00:27] jhammond2012 opened #198 "TEST Use a unique name that describes your grant"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

**Project Overview**
What solution are you providing? Who will it serve?

**Scope**
What are the components or technical specs of the project? What will the final deliverable look like? How will you measure success?

**Budget and Milestones**
What grant amount are you seeking? How long will t

[2021-09-10 00:30] #198 closed

[2021-09-10 00:30] jhammond2012 commented on #197
!m1_complete

[2021-09-10 02:09] MarvinJanssen commented on #74
Hi folks, nice work. I'm commenting on the technical implementation on behalf of the grant committee.

Nice approach but there are a few areas where you could do minor optimisations:
- The map tuple keys only have one member, you can save some execution cost by just using the type inside the tuple. The map keys `{artwork-id: uint}`, `{genuine-id: uint}`, and so on, can become just `uint`.
- Embedd

[2021-09-10 06:44] pseudozach commented on #172
Thanks to jw from hiro team on discord I was able to sync the testnet node.

App is now available for public testing at https://ss.pseudozach.com swaps are available between Stacks Testnet <-> Lightning on Bitcoin Testnet

!M2_Complete

[2021-09-10 21:31] jennymith commented on #193
Thank you for your response @fiftyeightandeight! This grant has been approved cc: @RaffiSapire @jhammond2012.

[2021-09-10 21:39] jennymith commented on #121
Hi @friedger thanks for your hard work on getting this grant over the finish line, especially considering all the challenges you ran into! We can mark this as complete cc: @RaffiSapire @jhammond2012.

**Some feedback for continued/future work:**

It seems that the low redemption rate for wrapped rewards stems from the difficulty of the process. We understand that you won't be able to reasonably im

[2021-09-10 21:49] jennymith commented on #74
Hi @SmartMirlo, in addition to the technical considerations that Marvin has listed above, there are some improvements on the research document that we'd like to request before you move on to M3. At the moment, the current version reads more like a smart contract description than a comprehensive research document. Your research document should resemble a whitepaper that is exploring a specific prob

[2021-09-12 14:45] SmartMirlo commented on #74
- [ ]
Hi #Marvin!
I have shared this with the team so we can address all the tech improvements you suggest.

For your 'side question' (third one) I agree that on Smartists users will definitely need to attach a license to any "genuine" in order to sell and NFT. Anyway a 'genuine' has a specific and special value as an NFT because the genuine-NFT creator is always the copyrights holder of the under

[2021-09-12 14:46] SmartMirlo commented on #74
Hi #Marvin!
I have shared this with the team so we can address all the tech improvements you suggest.

For your 'side question' (third one) I agree that on Smartists users will definitely need to attach a license to any "genuine" in order to sell and NFT. Anyway a 'genuine' has a specific and special value as an NFT because the genuine-NFT creator is always the copyrights holder of the underlying

[2021-09-12 15:15] SmartMirlo commented on #74
Hi @jennymith !

Thank you for this comment, as your points open the door for me to provide a deeper explanation of NFTs copyrights licensing from a wider perspective, beyond the technological approach.

What we provided here was a document written by our developer, Fhil, from the strictly technical point of view. But, there is a context for this, and a lot of legal research in the background, whi

[2021-09-13 17:02] RaffiSapire commented on #140
Great. @grigerny are there any other outputs, or maybe a link to the repo you can share here?

[2021-09-13 17:04] RaffiSapire commented on #74
Hi @SmartMirlo  please take your time and add this to the research as an output so that the community can also benefit? If we could say share back by next wednesday?

[2021-09-13 17:16] jhammond2012 commented on #173
Hi @kjchiang3, I somehow missed this mention. Sorry for the delay in response.

I believe you would need to open a new issue as the system relies on the issue owner to fill out the link. However, while filling out the link, you can enter the information for @Lucidefi-main if that works. Would this work or would you rather have @Lucidefi-main  be the actual one to fill this out?

[2021-09-13 18:32] SmartMirlo commented on #74
Thank you, @RaffiSapire ... I have been sprig on that today. I think I will be able to share my document this week.

[2021-09-14 13:59] jennymith commented on #195
Hi @fiftyeightandeight I'm sure you had your hands full with the Accelerator Demo Day last week (excellent presentation btw!) but I just wanted to check in on this grant. Let us know if you need any further support/guidance on addressing [these questions](https://github.com/stacksgov/Stacks-Grants/issues/195#issuecomment-915492519)? @friedger's suggestion to look into clarigen is very relevant her

[2021-09-14 14:05] jennymith commented on #171
Hey @cecilpang just checking in to see how the smart contract for M1 is going. Are you able to do much without the Stacks/Chainlink integration?

[2021-09-14 14:09] jennymith commented on #169
Hi @az-journal, I see that your community call is coming up and would love to help you get as many participants to join as possible.

Does CryptoMate have a Twitter account? If you tweet out the details of this community call from the CryptoMate account and tag [Stacks](https://twitter.com/Stacks), then I can get your event retweeted to more community members. Please feel free send me the link to

[2021-09-14 14:14] jennymith commented on #134
I see this grant was updated on 08/16 in Total Funding Ledger but just want to confirm that M2 was indeed disbursed @RaffiSapire @jhammond2012.

[2021-09-14 14:14] jennymith commented on #120
Hey @hozzjss checking in to see how progress on M2 is coming along. Let us know if you need any support in getting this milestone over the finish line!

[2021-09-14 14:18] jennymith commented on #74
Agree with Raffi that you should feel free to take your time on adding to the document @SmartMirlo. It sounds like you put a lot of effort into the legal research and we wouldn't want you to dilute any of that for the sake of speed :). Looking forward to your update next Wednesday!

[2021-09-14 14:23] az-journal commented on #169
Hi @jennymith ! thank you for the support , here is the link to the tweet Stacks was tagged there as well. Appreciate if you could share https://twitter.com/CryptoMate_defi/status/1437783215431946251

[2021-09-14 14:27] jennymith commented on #65
Hey @falkonprods, thank you for the thoughtful update here. Where are you on the voting mechanism and how will this pivot impact your originally proposed milestones?

I see that you have a call with the Stacks Gov Lab today, which will be a great venue for sharing your work on DAOs so far. Perhaps afterward, we can consider a call with the broader community?

[2021-09-14 16:43] cecilpang commented on #171
Hi @jennymith , I have been working cautiously on the parts that are on Chainlink and our own node, under the assumption that the smart contract portion would be the same as the Ethereum integration. I saw the video you sent yesterday and it looks like my assumption is valid. I will accelerate the work now. Thank you for staying in touch.

[2021-09-14 17:02] tycho1212 commented on #194
@fiftyeightandeight I've been studying your whitepaper in quite some depth recently and I just felt compelled to give my thoughts on this :)

It seems to me like this question around liquidation-free loans can best be solved through practice rather than research. I think your whitepaper is very comprehensive around this area already. The main question mark seems to be how the ALEX reserve fund wil

[2021-09-14 18:00] grigerny commented on #140
`(impl-trait 'ST4WC7XV46Y2M6SDD5G31H8BHK8GMJX13XGEYNS8.nft-trait.nft-trait)
(define-non-fungible-token NFT-layer uint)
(define-data-var last-id uint u0)
(define-map token-data
  {token-id: uint}
  {price: uint, for-sale: bool, name: (string-ascii 64)})
(define-map token-royalties {token-id: uint}
  {royalties: (list 5 {address: principal, percentage: uint})})
(define-constant locker-base-uri "http

[2021-09-14 18:04] grigerny commented on #140
Here is a recent TESTNET deployment of the smart contract which includes the source code. Please let me know if you require anything else and I'd be happy to provide.
[Contract deploy - Stacks Explorer by Hiro [TESTNET MODE]](https://explorer.stacks.co/txid/ST4WC7XV46Y2M6SDD5G31H8BHK8GMJX13XGEYNS8.outdoor-silver-spider?chain=testnet)

[2021-09-14 20:53] jennymith commented on #172
Hi @pseudozach thanks for the update and for completing M3 early! The app looks great and everything seems be on track so far. Before we fund M3, there are a couple of things we would like for you to work on:

1. Document feedback on your app. Share the link to your app widely (Twitter, Discord, the Forum) and ask community members to share their thoughts/questions/suggestions directly on this thr

[2021-09-15 00:03] jhammond2012 commented on #134
@jennymith I had a check and it is funded.

[2021-09-15 00:56] fiftyeightandeight commented on #194
Hi @tycho1212, thank you for your comments. I assume you already took a look at our [whitepaper](https://docs.alexgo.io/whitepaper/automated-market-making-of-collateral-rebalancing-pool) on this topic.

Yes, you are absolutely right. How the ALEX reserve fund is capitalised during a drawdown is of paramount importance to the confidence of our community in ALEX.

And it is not just about having a r

[2021-09-15 09:06] tycho1212 commented on #194
I'd be very curious! It's still hard for me to see how you could manage a reserve fund in such a way that you can eliminate the option for infinite liquidity. I'll send you a dm :)

[2021-09-16 06:40] danosaur98 opened #199 "Stacksboard - NFT powered digital real estate"
**Background**

Digital real estate is an excellent way for advertisers to boost their brand and artists to display their work, among other use cases. A popular example of digital real estate can be found at [The Million Dollar Homepage](http://www.milliondollarhomepage.com/). However, modern digital real estate has much to be improved through the use of NFTs. The owner of a popular website can re

[2021-09-16 10:09] SmartMirlo commented on #74
Thank you, Jenny and Raffi!
After reading your questions I hereby attach a document for the committee to review.
I was considering writing a more academic long 'white paper', but I realized to do it properly it could take quite a lot of time, and I think this condensed (5 page) document can be more useful for the community. Anyway, we are available for any further questions from the committee or t

[2021-09-16 21:56] pseudozach commented on #172
Hi @jennymith thanks for the feedback again,

I've shared the app on [discord](https://discord.com/channels/621759717756370964/621759718192447502/885779791314313226) and the [forum](https://forum.stacks.org/t/stacks-lightning-network-bridge/12384) so far feedback is very positive. I suppose there will be more users and more high quality feedback once the app is on mainnet.

I'll look forward to he

[2021-09-17 11:56] fiftyeightandeight commented on #195
Hi @jennymith @friedger we've reviewed Clarigen and think we can use at least some of the functions in alex.js as well as borrow some of its design. Thank you for your suggestions!

[2021-09-17 12:27] Dallas23 opened #200 "COVID-19 Strategy"
**Background**
What problems do you aim to solve?:Hoping to solve the problem of a infectious desease that is spreading rapidly.
How does it serve the mission of a user owned internet?:By serving the purpose of online COVID-19 information.

**Project Overview**
What solution are you providing?:Providing needed COVID-19 information and medicine.
Who will it serve?:All individuals.

**Scope**
What a

[2021-09-17 18:18] MarvinJanssen commented on #172
Hi @pseudozach, definitely ready for use. We simply love this project so maybe that is why we are being a bit extra picky... But to get to the point, we had another internal discussion about the technical implementation. Given that LN is meant to bring instant payments and settlements we feel the contract logic should be as optimal is possible.

Here are some of the findings, would love to hear yo

[2021-09-17 20:53] pseudozach commented on #172
* This is definitely a valid point and it actually caused me some pain during testing because I can't use explorer sandbox to directly test the contract *but* this needs to stay that way because internally all the data structures in the lnstxbridge itself handles buffers so basically if I want to change all calculations to buffer -> number it means I need to refactor a lot of working code. To be h

[2021-09-20 11:33] friedger commented on #172
How is `claim-stx` secured so that the locked stxs can't be claimed by any user? I had a look at v6 on main branch and didn't see anything.

Could you add some Clarinet tests?

[2021-09-20 16:42] pseudozach commented on #172
claimstx works such that claimer needs to send the preimage for the LN invoice as an input to the function. Function then uses preimagehash (sha256 preimage) to calculate the swap of the hash.
preimage is, by definition, a secret that is revealed to the payer of an LN invoice upon payment and can not be known by anyone beforehand.

[2021-09-20 16:58] MarvinJanssen commented on #172
The point is that the preimage is revealed via a transaction. An attacker can watch the mempool for `claimStx` calls and try to front-run the user that submitted it. Additionally, a malicious miner can purposely ignore `claimStx` calls and instead claim those STX themselves. The STX address of the claimant should be set beforehand like in the atomic swap PoC. There might be other attack vectors if

[2021-09-20 19:01] pseudozach commented on #172
That's a valid concern. I suggest the following update:
- add a claimPrincipal to the swaps map.
- add a new key/value claimPrincipal to lockstx such that the address that can claim is provided during swap creation.
- claimstx will check that claimPrincipal is equal to the contract tx-sender.

I'll update the contract, run my regular tests and deploy to testnet.

[2021-09-21 12:28] albydeca commented on #138
Hi all,
As we draw ever nearer to completing M1, I have a quick question regarding the balances of Stacks wallets. We have noticed that a significant majority of wallets in circulation have 100 STX as balance. Can anyone explain to us why this may be, and whether as a consequence it still makes sense to plot the distribution of wallet balances as a relevant whale analysis? Thanks

(Adding our new

[2021-09-21 14:53] jennymith commented on #199
Hi @danosaur98, thanks for submitting such an interesting proposal. It's clear that you've put a lot of thought into how you could innovate on a classic web 2.0 model using web 3.0 tools.

**Decision:** **Pass.** While this proposal is certainly interesting from a business model perspective, after much discussion, we felt that it isn't in the spirit of advancing a user-owned internet. Despite the

[2021-09-21 15:01] jennymith commented on #169
Hi @az-journal how did the event go yesterday? Were you able to record the meeting? If so, can you share it here. Hope it went well and that you got a good turnout!

[2021-09-21 15:13] #195 closed, assigned to nobody

[2021-09-21 21:03] danosaur98 commented on #199
Hey @jennymith ,

Thank you so much to the committee for the response to my proposal - it offered tons of helpful feedback and brought up problems I will consider going forward. There were a few points that I was hoping to understand better and a few points I was hoping to clarify:

To start off with, I wanted to clarify the difference between a billboard owner and a slot NFT owner.

Billboard own

[2021-09-22 06:57] az-journal commented on #169
Hi @jennymith the event was a success, we had a bigger audience this time and some valuable inputs from Arkadiko team.
I'm attaching the recording here. Just a note: the introduction part is missing, but the community feedback is there.

https://user-images.githubusercontent.com/84379046/134297045-ad9b8cb8-a253-489d-842a-87bed7d52809.mp4

[2021-09-23 12:33] jennymith commented on #200
Hi @Dallas23, thanks for your submission.

**Decision:** Pass. This project doesn't seem to be at all related to Stacks. The grant amount you're seeking is also extremely over budget.

**Feedback:** If you would like more guidance on how to put together an application that is more suitable to this program, please feel free to join our [office hours on Tuesdays and Thursdays.](https://community.sta

[2021-09-23 12:33] #200 closed

[2021-09-23 21:33] RaffiSapire commented on #199
Thank you @danosaur98 for taking the time to respond to our feedback, the committee reviewed it thoroughly, and unfortunately we were not able to convince ourselves otherwise based on our initial reasons for passing sent by Jenny.

[2021-09-23 21:33] #199 closed

[2021-09-23 21:38] RaffiSapire commented on #169
Thank you for your work here and taking time to get feedback from the Community. We are disbursing M2 and look forward to reviewing.

[2021-09-23 21:52] RaffiSapire opened #201 "Pakistan Chapter Grant September 2021"

[2021-09-24 08:01] SmartMirlo commented on #74
M2 Smart Contract was updated a few days ago. In case you did not see it:
https://github.com/FhilF/smartists-smart-contract-dev/releases/tag/M2-v4

[2021-09-27 18:38] pseudozach commented on #172
Hi,
I'm happy to announce the ***first mainnet submarine swap*** between STX on Stacks and Bitcoin on Lightning Network!

Mainnet contract deployed: https://explorer.stacks.co/txid/SP2507VNQZC9VBXM7X7KB4SF4QJDJRSWHG4V39WPY.stxswap_v7?chain=mainnet
Swap Frontend: [LNSwap.org](https://lnswap.org)

[User locked ~2 STX](https://explorer.stacks.co/txid/0xfe905bc8b27696b0a38638e9d91ee8d4b0bcbf631ac53c57

[2021-09-28 06:58] 314159265359879 commented on #172
The page does not seem to be accessible, pinging the ip and lnswap.org is returning succes however.

Are the transactions send with post-conditions in "allow" mode intentionally?
![image](https://user-images.githubusercontent.com/33360391/135038293-af741786-a71c-48bd-ba89-5f09d1ce2dc0.png)

Users would get a warning, "~unsafe transaction" before the transaction is send, deny mode is preferred on m

[2021-09-28 11:45] albydeca commented on #138
Hi all, good news. Please take a look at the early version of the platform available here: https://stacksdataverse.herokuapp.com/

!m1_complete

[2021-09-28 12:36] anovum commented on #138
!m1_complete

[2021-09-28 15:55] pseudozach commented on #172
Yes @314159265359879 sorry, I should've made sure server&nodes are stable before the announcement but I got over excited :)
I'll make another announcement when everything is stable and everything is accessible again.

I've noticed unsafe tx warnings on Hiro wallet as well but to be honest I had difficulty running these with deny mode. I'll include this as an improvement for a follow up grant/v2 of

[2021-09-29 08:39] friedger commented on #172
For the frontend, I see that you don't use connect, nor stacks/transactions. If the libraries do not help, we need to improve the libraries :-)

[2021-09-29 16:52] pseudozach commented on #172
All nodes/backend/frontend is now up and reachable at https://lnswap.org. I've also completed a reverse-submarine swap to ensure everything is OK. LN node has low liquidity so please test with small amounts.
Known issues:
- lock tx fee estimation seems wrong, which leads to long wait time for onchain -> LN swaps.
- backend txns sometimes fail with `ConflictingNonceInMempool`
cc @314159265359879

[2021-09-29 17:54] pseudozach commented on #172
I do use connect and @stacks/transactions in both views that user clicks to start a contract call here: https://github.com/pseudozach/lnstxbridge-frontend/blob/main/src/views/swap/steps/sendTransaction.js#L15

For other details (postconditions etc) I've commented on the repo issue with more details: https://github.com/pseudozach/lnstxbridge-frontend/issues/1

[2021-10-01 06:05] faithinyous opened #202 "Quasar startup for Stack WEB3 Beginner"
**Background**
Web3 D-App is still very new for most developers. Stacks has created Stack.js lib for developers to use but it could be very hard for developers to implement. The examples out there are mostly the real project and could be complex for web3 beginners. There are no starter projects that have implemented stacks.js to help developers begin their project easily.

**Project Overview**
In

[2021-10-01 14:25] cbadawi opened #203 "Stacks Onchain Data Analytics Platform and API"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

- There is no reason the data of a free and open source software should not be made easily accessible in a pre-aggregated and finalized manner to the community.  Moreover, a network that aims to become the leading DEFI network should be as transparent as possible.

**Project Overview**
What s

[2021-10-01 22:31] pseudozach commented on #172
!M3_Complete

[2021-10-04 23:48] pseudozach commented on #172
This is fixed, contract calls use deny mode now: https://github.com/pseudozach/lnstxbridge-frontend/issues/1#issuecomment-933939577

[2021-10-05 12:47] hozzjss commented on #69
I think the unit tests that I have right now are satisfactory, I just checked as I was not really able to work on this for some time now, also I had an interview with @friedger and I'm sharing the notes here

Nice to have the possibility to represent the payouts with the token, I don’t like that stackers put money into the contract, an argument is the stackers keep their stacks in the wallet, risk

[2021-10-06 16:05] jennymith commented on #203
Hi @cbadawi, thanks for submitting this application! Decision and feedback from the Grants Review Committee below.

**Decision:** We would love to fund this but recommend a couple changes.

**Feedback:** Well done on developing such a thorough and useful tool for the Stacks community! We agree that it's crucial to make key network data as transparent and as accessible as possible. Since this platf

[2021-10-06 16:13] jennymith commented on #202
Thanks for submitting this application @faithinyous! We like the idea of a starter project that users can test but are still uncertain of exactly what you're trying to build. Can you please clarify what the end product/deliverable of this grant is?

[2021-10-06 16:18] jennymith commented on #138
Thanks for submitting M1 @albydeca. The platform looks great and provides some really interesting data! We're happy to have you move on to the next milestone.

However, before we disburse M2, could you quickly clarify what you'll be working on next? It looks like you've already completed some of the work originally set out for M2 (e.g. migrating to mainnet).

[2021-10-06 17:50] cbadawi commented on #203
Hello, thats awesome thanks!
Regarding the milestones, i agree, thats a great idea actually.

[2021-10-06 22:33] pseudozach opened #204 "Stacks - Lightning Network Bridge #2"
**Background**
What problems do you aim to solve? How does it serve the mission of a user owned internet?

This is a follow-up grant request to https://github.com/stacksgov/Stacks-Grants/issues/172 where a non-custodial submarine swap implementation is successfully developed, open sourced and deployed. This service is currently live at https://LNSwap.org

Target of this follow-up grant is 3-fold b

[2021-10-07 08:41] HariniRajan397 commented on #139
!M1_Complete

[2021-10-07 11:19] 314159265359879 commented on #138
I have added this link to https;//stx.fan data/stats feel free to ping me when the url changes, I will update. Great work, looking forward to the next update.